<div>
<%= form_for @measurement_category, html: {class: "col-lg-3"} do |f| %>
  <%= error_notification(@measurement_category.errors) %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :unit_id %>
    <%= f.select :unit_id ,Unit.pluck(:name,:id),include_blank: true %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <%= f.submit "update", class: "btn btn-sm" %>
  <%= link_to "cancel", measurement_categories_path, class: "btn btn-sm" %>
<% end %>
</div>

<div>
<table>
  <thead>
  <th>name</th>
  <th></th>
  <th></th>
  </thead>
  <tbody>
    <% @measurement_category.category_measurement_items.order("position ASC").each do |category_measurement_item| %>
    <% measurement_item = category_measurement_item.measurement_item %>
    <tr>
    <% if measurement_item %>
      <td><%== measurement_item.display_name %></td>
      <td>
        <%= link_to move_to_top_category_measurement_item_path(category_measurement_item), :method => :move_to_top ,:title => "move to top" do %>
          <span class="glyphicon glyphicon-arrow-up"></span>
        <% end %>
      </td>
      <td>
        <%= link_to category_measurement_item_path(category_measurement_item), :method => :delete ,:title => "unlink item",data: {confirm: t("confirm.unlink")} do %>
          <span class="glyphicon glyphicon-remove"></span>
        <% end %>
      </td>
    <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
</div>

