<% if flash[:error] %>
  <div id="flash" style="color: red; border: red solid">
    <%= flash[:error] %>
  </div>
<% end %>
<div><%= link_to_unless_current "element",measurement_items_path %>
<%= link_to_unless_current "assembly",measurement_categories_path %></div>
<%= paginate @measurement_categories %>
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th></th>
      <th>name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @measurement_categories.each do |measurement_category| %>
    <tr>
      <td>
        <%= link_to edit_measurement_category_path(measurement_category) do %>
        <span class="glyphicon glyphicon-edit"></span>
        <% end %>
      </td>
      <td><%= measurement_category.name %></td>
      <td>
        <%= link_to duplicate_measurement_category_path(measurement_category), :method => :duplicate ,:title => "duplicate" do %>
          <span class="glyphicon glyphicon-plus-sign"></span>
        <% end %>
      </td>
      <td>
        <%= link_to measurement_category_path(measurement_category), method: :delete, data: {confirm: t("confirm.delete",:recordname => measurement_category.name)} do %>
        <span class="glyphicon glyphicon-remove"></span>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <%= form_for MeasurementCategory.new, remote: true, format: :json, html: { class: "create" } do |f| %>
    <tr>
      <td></td>
      <td><%= f.text_field :name, class: "form-control input-sm" %></td>
      <td>
        <%= f.button class: "btn btn-default" do %>
        <span class="glyphicon glyphicon-save"></span>
        <% end %>
      </td>
      <td></td>
      <td></td>
    </tr>
    <% end %>
  </tfoot>
</table>
<%= javascript_tag do %>
  $(document).on("succeed.ajaxForm", "#new_measurement_category", function() {
    window.location.href = '<%= measurement_categories_path %>'
  });
<% end %>
