<div class="display-type">
  <div id="display-type-html">
    <ul>
      <%= li_if_exist("entry type: ", @bib.entry_type) %>
      <%= li_if_exist("abbreviation: ", @bib.abbreviation) %>
      <%= li_if_exist("name: ", @bib.name) %>
      <%= li_if_exist("author: ", @bib.author_lists) %>
      <% if @bib.doi.present? %>
        <li>doi: <%= link_to(@bib.doi, @bib.doi_link_url) %></li>
      <% end %>
      <%= li_if_exist("journal: ", @bib.journal) %>
      <%= li_if_exist("year: ", @bib.year) %>
      <%= li_if_exist("volume: ", @bib.volume) %>
      <%= li_if_exist("number: ", @bib.number) %>
      <%= li_if_exist("pages: ", @bib.pages) %>
      <%= li_if_exist("month: ", @bib.month) %>
      <%= li_if_exist("note: ", @bib.note) %>
      <%= li_if_exist("key: ", @bib.key) %>
      <%= li_if_exist("link url: ", @bib.link_url) %>
      <%= li_if_exist("", @bib.stones.map{ |stone| content_tag(:span, nil, class: "glyphicon glyphicon-cloud") + link_to_if(can?(:read, stone), stone.name, url_for(stone))  }.join(" ")) %>
      <%= li_if_exist("", @bib.boxes.map{ |box| content_tag(:span, nil, class: "glyphicon glyphicon-folder-close") + link_to_if(can?(:read, box), box.name, url_for(box)) }.join(" ")) %>
      <%= li_if_exist("", @bib.places.map{ |place| content_tag(:span, nil, class: "glyphicon glyphicon-globe") + link_to_if(can?(:read, place), place.name, url_for(place)) }.join(" ")) %>
      <%= li_if_exist("", @bib.analyses.map{ |analysis| content_tag(:span, nil, class: "glyphicon glyphicon-stats") + link_to_if(can?(:read, analysis), analysis.name, url_for(analysis)) }.join(" ")) %>
      <%= li_if_exist("modified at ", difference_from_now(@bib.updated_at)) %>
      <% if @bib.attachment_pdf_files.present? %>
        <li>
          <% @bib.attachment_pdf_files.each do |attachment_pdf_file| %>
            <%= attachment_pdf_file.name %>
            <%= link_to(image_tag("icon_pdf_1.png", size: "24x24"), download_attachment_file_path(attachment_pdf_file.id), id: "file-#{attachment_pdf_file.id}-button") %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="hidden" id="display-type-tex">
    <pre><code><%= @bib.to_tex %></code></pre>
  </div>
</div>
<div class="btn-group">
  <a href="#display-type-html" class="btn radio-button-group">html</a>
  <a href="#display-type-tex" class="btn radio-button-group">tex</a>
</div>
