<tr>
  <td><%= check_box_tag("ids[]", bib.id, checked, id: "ids_#{bib.id}", class: "select-row") if can?(:update, bib) %></td>
  <td><%= link_to bib.name, bib %></td>
  <td><%= bib.try!(:doi) %></td>
  <td><%= bib.authors.map {|author| author.name }.join(" & ")%></td>
  <td><%= bib.try!(:year) %></td>
  <td><%= bib.try!(:entry_type) %></td>
  <%= td_if_expand bib.user.try!(:username) %>
  <td><%= bib.group.try!(:name) %></td>
  <%= td_if_expand difference_from_now(bib.published_at) %>
  <td><%= difference_from_now(bib.updated_at) %></td>
  <%= td_if_expand difference_from_now(bib.created_at) %>
</tr>

