<%= form_with model:bib, local: false, format: :json, html: { id: "new_bib", class: "create" } do |f| %>
<tr>
  <th><%= check_box_tag nil, nil, false, class: "select-row-all" %></th>
  <th><%= f.text_field :name, class: "form-control input-sm", size: 15 %></th>
  <th><%= f.text_field :doi, class: "form-control input-sm", size: 10 %></th>
  <th><%= f.collection_select(:author_ids, Author.all.order(:name).to_a, :id, :name, {}, multiple: true, class: "form-control input-sm") %></th>
  <th><%= f.text_field :year, class: "form-control input-sm", size: 4 %></th>
  <th><%= f.text_field :entry_type, class: "form-control input-sm", size: 6 %></th>
  <%= f.fields_for :record_property_attributes do |r| %>
  <%= th_if_expand @current_user.username %>
  <th>
    <%= r.select :group_id ,Group.pluck(:name, :id), { include_blank: true }, class: "form-control input-sm" %>
    <%= r.hidden_field :user_id ,value: @current_user.id %>
  </th>
  <% end %>
  <th>
    <%= f.button class: "btn btn-default" do %>
    <span class="far fa-save"></span>
    <% end %>
  </th>
  <th></th>
</tr>
<% end %>

