    <% if @bib.referrings_analyses.size > 0 %>
    <style>
      iframe {
        min-width: 100%;
        min-height: 500px;
      }
    </style>
    <div class="row">
      <div class="col-md-10">
        <p class="text-left">Map on Earth or <%= @alias_specimen %>. Places and analyses are shown.</p>
      </div>
      <div class="col-md-2">
       <p class="text-right">
       <%= link_to @bib.rmap_url, class: "btn btn-default" do %>
         <span class="glyphicon glyphicon-fullscreen"></span>
       <% end %>
       </p>
      </div>
    </div>
    <%= rmap_iframe(@bib) %>
    <% end %>

    <% tab_info = [
        ["at-a-glance",nil,"show representative properties of a record"],
        [@alias_specimen,@bib.specimens,"show samples related to a bib","specimen"],
        ["box",@bib.boxes,"show boxes related to a bib"],
        ["place",@bib.all_places,"show spots related to a bib"],
        ["analysis",@bib.referrings_analyses,"show analyses related to a bib"],
        ["file",@bib.attachment_files,"show images related to a bib"],
        ["table", @bib.tables,"show tables related to a bib"],
        ["author", nil,"show name of authors of a bib"]
    ] %>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <% tab_info.each do |key,array,message| %>
       <li class="<%= active_if_current(key) %>" ><a href="#<%= key %>" data-toggle="tab" title="<%= message %>"><%= key + data_count(array) %></a></li>
      <% end %>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <% tab_info.each do |key,array,message,partial| %>
        <div class="tab-pane<%= active_if_current(key) %>" id="<%= key %>"><%= render partial: (partial ? partial:key.underscore) %></div>
      <% end %>
    </div>
