<div class="row">
  <div id="show-caption" class="col-lg-12">
    <%= @bib.name_with_id %>
  </div>
</div>
<div class="row">
  <div id="show-tools" class="col-lg-4">
    <div class="row btn-toolbar tool-selector" role="toolbar">
      <div class="btn-group btn-group-sm">
        <%= link_to picture_bib_path(@bib), class: "btn btn-default", remote: true do %>
          <span class="glyphicon glyphicon-picture"></span>
        <% end %>
      </div>
      <div class="btn-group btn-group-sm">
        <%= link_to edit_bib_path(@bib), class: "btn btn-default", remote: true do %>
          <span class="glyphicon glyphicon-pencil"></span>
        <% end %>
        <%= link_to property_bib_path(@bib), class: "btn btn-default", remote: true do %>
          <span class="glyphicon glyphicon-cog"></span>
        <% end %>
      </div>
      <div class="btn-group btn-group-sm">
        <%= link_to download_label_bib_path(@bib), class: "btn btn-default" do %>
          <span class="glyphicon glyphicon-tag"></span>
        <% end %>
      </div>
    </div>
    <img>
    <div class="row tool-content">
    </div>
  </div>
  <div id="show-body" class="col-lg-8">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li><a href="#at-a-glance" data-toggle="tab">at a glance</a></li>
      <li><a href="#stone" data-toggle="tab"><%= @bib.stones.blank? ? "stone" : "stone (#{@bib.stones.count})" %></a></li>
      <li><a href="#box" data-toggle="tab"><%= @bib.boxes.blank? ? "box" : "box (#{@bib.boxes.count})" %></a></li>
      <li><a href="#place" data-toggle="tab"><%= @bib.places.blank? ? "place" : "place (#{@bib.places.count})" %></a></li>
      <li><a href="#analysis" data-toggle="tab"><%= @bib.analyses.blank? ? "analysis" : "analysis (#{@bib.analyses.count})" %></a></li>
      <li><a href="#attachment_file" data-toggle="tab"><%= @bib.attachment_files.blank? ? "attachment_file" : "attachment_file (#{@bib.attachment_files.count})" %></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="at-a-glance"><%= render partial: "at_a_glance" %></div>
      <div class="tab-pane" id="stone"><%= render partial: "stone" %></div>
      <div class="tab-pane" id="box"><%= render partial: "box" %></div>
      <div class="tab-pane" id="place"><%= render partial: "place" %></div>
      <div class="tab-pane" id="analysis"><%= render partial: "analysis" %></div>
      <div class="tab-pane" id="attachment_file"><%= render partial: "attachment_file" %></div>
    </div>
  </div>
</div>
