<div class="row">
  <div id="show-caption" class="col-lg-12">
    <%= @bib.name_with_id %>
  </div>
</div>
<div class="row">
  <div id="show-tools" class="col-lg-4">
    <div class="row btn-toolbar tool-selector" role="toolbar">
      <div class="btn-group btn-group-sm">
        <% if @bib.has_image? %>
          <%= link_to picture_bib_path(@bib), class: "btn btn-default", id: "picture-button", remote: true do %>
            <span class="glyphicon glyphicon-picture"></span>
          <% end %>
        <% end %>
      </div>
      <% if can? :update, @bib %>
      <div class="btn-group btn-group-sm">
        <%= link_to edit_bib_path(@bib), class: "btn btn-default", id: "pencil-button", remote: true do %>
          <span class="glyphicon glyphicon-pencil"></span>
        <% end %>
        <%= link_to property_bib_path(@bib), class: "btn btn-default", id: "cog-button", remote: true do %>
          <span class="glyphicon glyphicon-cog"></span>
        <% end %>
      </div>
      <% end %>
      <div class="btn-group btn-group-sm">
        <%= link_to download_label_bib_path(@bib), class: "btn btn-default", id: "tag-button" do %>
          <span class="glyphicon glyphicon-tag"></span>
        <% end %>
      </div>
    </div>
    <img>
    <div class="row tool-content">
    </div>
  </div>

  <div id="show-body" class="col-lg-8">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="<%= active_if_current('at-a-glance') %>">
        <a href="#at-a-glance" data-toggle="tab">at-a-glance</a>
      </li>
      <li class="<%= active_if_current('specimen') %>">
        <a href="#specimen" data-toggle="tab"><%= @alias_specimen + data_count(@bib.specimens) %></a>
      </li>
      <li class="<%= active_if_current('box') %>">
        <a href="#box" data-toggle="tab"><%= "box#{data_count(@bib.boxes)}" %></a>
      </li>
      <li class="<%= active_if_current('place') %>">
        <a href="#place" data-toggle="tab"><%= "place#{data_count(@bib.places)}" %></a>
      </li>
      <li class="<%= active_if_current('analysis') %>">
        <a href="#analysis" data-toggle="tab"><%= "analysis#{data_count(@bib.analyses)}" %></a>
      </li>
      <li class="<%= active_if_current('file') %>">
        <a href="#file" data-toggle="tab"><%= "file#{data_count(@bib.attachment_files)}" %></a>
      </li>
      <li class="<%= active_if_current('table') %>">
        <a href="#table" data-toggle="tab"><%= "table#{data_count(@bib.tables)}" %></a>
      </li>
      <li class="<%= active_if_current('author') %>">
        <a href="#author" data-toggle="tab">author</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <% tab_info = [
        ["at-a-glance",nil],
        ["specimen",@bib.specimens],
        ["box",@bib.boxes],
        ["place",@bib.places],
        ["analysis",@bib.analyses],
        ["file",@bib.attachment_files],
        ["table", @bib.tables],
        ["author", nil]
    ] %>
    <div class="tab-content">
      <% tab_info.each do |key,array| %>
        <div class="tab-pane<%= active_if_current(key) %>" id="<%= key %>"><%= render partial: key.underscore %></div>
      <% end %>
    </div>
  </div>
</div>
