<%= javascript_tag do %>
  //ロスの計算
  $(document).on("change", "input.quantity", function() {
    var $form = $("form#divide_specimen");
    $.ajax({
      url: '<%= loss_divide_specimen_path %>',
      type: 'put',
      data: $form.serialize(),
      success: function(result){
        $("#divided_loss").text(result.loss);
      }
    });
  });
<% end %>

<div class="row">
  <%= link_to "<back", specimen_path(@specimen), class: ""  %>
</div>

<%= form_for @specimen, url: divide_specimen_path, html: { id: "divide_specimen" } do |f| %>
  <% error_messages = f.object.errors.full_messages.select{|msg| msg != "Children is invalid" } %>
  <% if error_messages.present? %>
    <div class="alert alert-danger">
      <ul class="list-unstyled">
        <% error_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <dl class="col-sm-2">
      <dt><%= f.label :name, class: "small" %></dt>
      <dd><%= f.object.name %></dd>
    </dl>
    <dl class="col-sm-2">
      <dt><%= f.label :physical_form__id, class: "small" %></dt>
      <dd><%= PhysicalForm.find_by(id: f.object.physical_form_id).try(:name) %></dd>
    </dl>
    <dl class="col-sm-2">
      <dt><%= f.label :orignal_quantity, class: "small" %></dt>
      <dd><%= "#{f.object.quantity}(#{f.object.quantity_unit})" %></dd>
    </dl>
    <dl class="col-sm-2">
      <dt><%= f.label :quantity, class: "small" %></dt>
      <dd><%= f.text_field :quantity, class: "form-control input-sm quantity" %></dd>
    </dl>
    <dl class="col-sm-2">
      <dt><%= f.label :quantity_unit, class: "small" %></dt>
      <dd><%= f.text_field :quantity_unit, class: "form-control input-sm quantity" %></dd>
    </dl>
    <dl class="col-sm-2">
      <dt><%= f.label :box_global_id, class: "small" %></dt>
      <dd><%= f.object.box_global_id %></dd>
    </dl>
  </div>

  <div class="row">
    <dl class="col-sm-12">
      <dt><%= f.label :comment, class: "small" %></dt>
      <dd><%= f.text_field :comment, class: "form-control input-sm" %></dd>
    </dl>
  </div>

  <hr>
  <div class="children">
    <label>Children</label>
    <%= f.fields_for :children do |c| %>
      <% if c.object.id.nil? %>
        <%= render 'child_field', f: c %>
      <% end %>
    <% end %>
    <a class="btn btn-default add-child">
      <span class="glyphicon glyphicon-plus"></span>
    </a>
  </div>
  <hr>

  <div class="row">
    <dl class="col-sm-12">
      <dt><label>Divided loss</label></dt>
      <dd id="divided_loss"><%= f.object.divided_loss.to_s(:delimited) %>(g)</dd>
    </dl>
  </div>

  <%= f.button class: "btn btn-default" do %>
    <span class="glyphicon glyphicon-save"></span>
  <% end %>
<% end %>
