<div class="row">
  <div id="show-tools" class="col-lg-4">
    <div class="row btn-toolbar tool-selector" role="toolbar">
      <div class="btn-group btn-group-sm">
        <%= link_to picture_spot_path(@spot), class: "btn btn-default activate", remote: true do  %>
          <span class="glyphicon glyphicon-picture"></span>
        <% end %>
        <%= link_to property_spot_path(@spot), class: "btn btn-default", remote: true do  %>
          <span class="glyphicon glyphicon-cog"></span>
        <% end %>
      </div>
    </div>
    <div class="row tool-content">
    </div>
  </div>
  <div class="col-lg-8">
    <%= form_for @spot, html: {class: "col-lg-4"} do |f| %>
    <%= error_notification(@spot.errors) %>

    <div class="form-group form-group-sm">
      <%= f.label :name, class: "small" %>
      <%= f.text_field :name, class: "form-control input-sm" %>
    </div>

    <div class="form-group form-group-sm">
      <%= f.label "link ID", class: "small" %>
      <div class="input-group">
	<%= f.text_field :target_uid, class: "form-control input-sm" %>
	<span class="input-group-addon">
	  <%= link_to analyses_path(per_page: 10, format: :modal), "data-toggle" => "modal", "data-target" => "#search-modal", "data-input" => "#spot_target_uid" do %>
	  <span class="glyphicon glyphicon-search"></span>
	  <% end %>
	</span>
      </div>
    </div>

    <div class="form-group form-group-sm">
      <%= f.label :radius_in_percent, class: "small" %>
      <%= f.text_field :radius_in_percent, class: "form-control input-sm" %>
    </div>

    <div class="form-group form-group-sm">
      <%= f.label :stroke_width, class: "small" %>
      <%= f.text_field :stroke_width, class: "form-control input-sm" %>
    </div>

    <div class="form-group form-group-sm">
      <%= f.label :stroke_color, class: "small" %>
      <%= f.text_field :stroke_color, class: "form-control input-sm" %>
    </div>

    <div class="form-group form-group-sm">
      <%= f.label :fill_color, class: "small" %>
      <%= f.text_field :fill_color, class: "form-control input-sm" %>
    </div>

    <div class="form-group form-group-sm">
      <%= f.label :opacity, class: "small" %>
      <%= f.text_field :opacity, class: "form-control input-sm" %>
    </div>

    <div class="form-group form-group-sm">
      <%= f.label :opacity, class: "checkbox-inline" do%>
      <%= f.check_box :opacity, class: "form-control input-sm" %> cross line
      <% end %>
    </div>

    <%= f.submit "update spot", class: "btn btn-sm" %>
    <%= link_to "cancel", request.referer, class: "btn btn-sm" %>
    <% end %>
  </div>
</div>
