<%= qrcode record.global_id %>

<%= form_for record, remote: true, format: :json, html: { class: "update", role: "form" } do |form| %>
  <%= form.fields_for :record_property do |f| %>
    <div class="form-group form-group-sm">
      <%= f.label :global_id, class: "small" %>
      <%= f.text_field :global_id, class: "form-control input-sm" %>
    </div>
    <div class="form-group form-group-sm">
      <%= f.label :user_id, class: "small" %>
      <%= f.select :user_id, User.pluck(:username, :id), {}, class: "form-control input-sm" %>
    </div>
    <div class="form-group form-group-sm">
      <%= f.label :group_id, class: "small" %>
      <%= f.select :group_id, Group.pluck(:name, :id), {include_blank: true}, class: "form-control input-sm" %>
    </div>
    <div class="form-group form-group-sm">
      <%= form.label :published_at, class: "small" %>
      <%= form.text_field :published_at, class: "form-control input-sm", disabled: true %>
    </div>
    <div class="form-group form-group-sm">
      <%= f.label :lost_at, class: "small" %>
      <%= f.text_field :lost_at, class: "form-control input-sm", disabled: true %>
    </div>
    <div class="form-group form-group-sm">
      <%= f.label :disposed_at, class: "small" %>
      <%= f.text_field :disposed_at, class: "form-control input-sm", disabled: true %>
    </div>
    <div class="form-group form-group-sm">
      <%= form.label :updated_at, class: "small" %>
      <%= form.text_field :updated_at, class: "form-control input-sm", disabled: true %>
    </div>
    <div class="form-group form-group-sm">
      <%= form.label :created_at, class: "small" %>
      <%= form.text_field :created_at, class: "form-control input-sm", disabled: true %>
    </div>
    <div class="form-group form-group-sm">
      <label class="small">Owner</label>
      <%= f.label :owner_readable, class: "checkbox-inline" do %>
        <%= f.check_box :owner_readable %> read
      <% end %>
      <%= f.label :owner_writable, class: "checkbox-inline" do %>
        <%= f.check_box :owner_writable %> write
      <% end %>
    </div>
    <div class="form-group form-group-sm">
      <label class="small">Group</label>
      <%= f.label :group_readable, class: "checkbox-inline" do %>
        <%= f.check_box :group_readable %> read
      <% end %>
      <%= f.label :group_writable, class: "checkbox-inline" do %>
        <%= f.check_box :group_writable %> write
      <% end %>
    </div>
    <div class="form-group form-group-sm">
      <label class="small">Guest</label>
      <%= f.label :guest_readable, class: "checkbox-inline" do %>
        <%= f.check_box :guest_readable %> read
      <% end %>
      <%= f.label :guest_writable, class: "checkbox-inline" do %>
        <%= f.check_box :guest_writable %> write
      <% end %>
    </div>
    <div class="form-group form-group-sm">
      <label class="small">Public</label>
      <%= f.label :published, class: "checkbox-inline" do %>
        <%= f.check_box :published %>
      <% end %>
      <% if current_user.admin? %>
        <%= link_to publish_record_path(record.global_id), title: "recursive publish", class: "btn btn-default", method: :put , data: { confirm: "Are you sure you want to publish #{record.name} with related records?" } do %>
          <span>Chpub -R</span>
        <% end %>
      <% end %>
    </div>
    <div class="form-group form-group-sm">
      <label class="small">Lost</label>
      <%= f.label :lost, class: "checkbox-inline" do %>
        <%= f.check_box :lost %>
      <% end %>
    </div>
  <% end %>
  <%= form.button class: "btn btn-default" do %>
  <span class="glyphicon glyphicon-save"></span>
  <% end %>


  <% unless form.object.record_property.disposed %>
    <%= link_to dispose_record_path(record.global_id), class: "btn btn-default", method: :put do %>
      <span class="glyphicon glyphicon-trash"></span>
    <% end %>
  <% else %>
    <%= link_to restore_record_path(record.global_id), class: "btn btn-default active", method: :put do %>
      <span class="glyphicon glyphicon-trash"></span>
    <% end %>
    <% if current_user.admin? %>
      <%= link_to record_path(record.global_id), class: "btn btn-danger", method: :delete , data: { confirm: t("confirm.delete",:recordname => record.name) } do %>
        <span class="glyphicon glyphicon-remove"></span>
      <% end %>

    <% end %>

  <% end %>
<% end %>
