<%= form_for stone, remote: true, format: :json, html: { class: "create" } do |f| %>
<tr>
  <th></th>
  <th><%= f.text_field :name %></th>
  <th><%= f.select :parent_id, Stone.pluck(:name, :id), include_blank: true %></th>
  <th><%= f.select :box_id, Box.pluck(:name, :id), include_blank: true %></th>
  <th><%= f.select :physical_form_id, PhysicalForm.pluck(:name, :id), include_blank: true %></th>
  <th><%= f.select :classification_id, Classification.pluck(:name, :id), include_blank: true %></th>
  <th><%= f.text_field :tag_list %></th>
  <th>
    <%= f.button class: "btn btn-default" do %>
    <span class="glyphicon glyphicon-save"></span>
    <% end %>
  </th>
  <th></th>
</tr>
<% end %>
