<%= form_for stone, remote: true, format: :json, html: { class: "create" } do |f| %>
<tr>
  <th><%= check_box_tag nil, nil, false, class: "select-row-all" %></th>
  <th><%= f.text_field :name, size: 15 %></th>
  <th><%= f.text_field :parent_global_id, size: 15 %></th>
  <%= th_if_expand do %>
    <%= f.text_field :box_global_id, size: 15 %>
  <% end %>
  <th><%= f.select :physical_form_id, PhysicalForm.pluck(:name, :id), include_blank: true %></th>
  <th><%= f.select :classification_id, Classification.pluck(:name, :id), include_blank: true %></th>
  <%= th_if_expand do %>
    <%= f.text_field :tag_list, size: 15 %>
  <% end %>
  <%= f.fields_for :record_property_attributes do |r| %>
  <%= th_if_expand @current_user.username %>
  <th>
    <%= r.select :group_id ,Group.pluck(:name, :id),include_blank: true %>
    <%= r.hidden_field :user_id ,value: @current_user.id %>
  </th>
  <% end %>
  <th>
    <%= f.button class: "btn btn-default" do %>
    <span class="glyphicon glyphicon-save"></span>
    <% end %>
  </th>
</tr>
<% end %>
