<%= form_for @stone, remote: true, format: :json, html: { class: "update", role: "form" } do |f| %>

  <% @stone_custom_attributes.each do |stone_custom_attribute| %>
    <%= f.fields_for(:stone_custom_attributes, stone_custom_attribute) do |fo| %>
      <div class="form-group form-group-sm">
        <%= label_tag "custom_attribute_name", stone_custom_attribute.custom_attribute.name, class: "small" %>
        <%= fo.hidden_field :custom_attribute_id %>
        <%= fo.text_field :value, class: "form-control input-sm" %>
      </div>
    <% end %>
  <% end %>

  <%= f.button class: "btn btn-default" do %>
    <span class="glyphicon glyphicon-save"></span>
  <% end %>
<% end %>

<%= javascript_tag do %>
  $(document).on("succeed.ajaxForm", "#edit_stone_<%= @stone.id %>", function() {
    location.href="<% stone_path(@stone) %>";
  });
<% end %>
