<%= form_for @stone, remote: true, format: :json, html: { class: "update", role: "form" } do |f| %>
  <div class="form-group form-group-sm">
    <%= f.label :name, class: "small" %>
    <%= f.text_field :name, class: "form-control input-sm" %>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :classification_id, class: "small" %>
    <%= f.select :classification_id, Classification.pluck(:name, :id), { include_blank: true }, class: "form-control input-sm" %>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :physical_form__id, class: "small" %>
    <%= f.select :physical_form_id, PhysicalForm.pluck(:name, :id), { include_blank: true }, class: "form-control input-sm" %>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :quantity, class: "small" %>
    <%= f.text_field :quantity, class: "form-control input-sm" %>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :quantity_unit, class: "small" %>
    <%= f.text_field :quantity_unit, class: "form-control input-sm" %>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :tag_list, class: "small" %>
    <%= f.text_field :tag_list, class: "form-control input-sm" %>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :parent_global_id, class: "small" %>
    <div class="input-group">
      <%= f.text_field :parent_global_id, class: "form-control input-sm" %>
      <span class="input-group-addon">
	<%= link_to stones_path(per_page: 10, format: :modal), "data-toggle" => "modal", "data-target" => "#search-modal", "data-input" => "#stone_parent_global_id" do %>
	<span class="glyphicon glyphicon-search"></span>
	<% end %>
      </span>
    </div>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :box_global_id, class: "small" %>
    <div class="input-group">
      <%= f.text_field :box_global_id, class: "form-control input-sm" %>
      <span class="input-group-addon">
	<%= link_to boxes_path(per_page: 10, format: :modal), "data-toggle" => "modal", "data-target" => "#search-modal", "data-input" => "#stone_box_global_id" do %>
	<span class="glyphicon glyphicon-search"></span>
	<% end %>
      </span>
    </div>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :place_global_id, class: "small" %>
    <div class="input-group">
      <%= f.text_field :place_global_id, class: "form-control input-sm" %>
      <span class="input-group-addon">
	<%= link_to places_path(per_page: 10, format: :modal), "data-toggle" => "modal", "data-target" => "#search-modal", "data-input" => "#stone_place_global_id" do %>
	<span class="glyphicon glyphicon-search"></span>
	<% end %>
      </span>
    </div>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :description, class: "small" %>
    <%= f.text_area :description, class: "form-control input-sm", row: 3 %>
  </div>
  <%= f.button class: "btn btn-default" do %>
  <span class="glyphicon glyphicon-save"></span>
  <% end %>
<% end %>
