<%= paginate @stones %>
<table>
  <thead>
    <%= search_form_for @search do |f| %>
    <tr>
      <th>
	<%= f.button class: "btn btn-default" do %>
	<span class="glyphicon glyphicon-refresh"></span>
	<% end %>
      </th>
      <th><%= sort_link @search, :name %></th>
      <th>parent</th>
      <th><%= sort_link @search, :box_name, "Box" %></th>
      <th><%= sort_link @search, :physical_form_name, "Physical form" %></th>
      <th><%= sort_link @search, :classification_name, "Classification" %></th>
      <th>tags</th><!-- don't sort -->
      <th>owner</th>
      <th>project</th>
      <th>published</th>
      <th><%= sort_link @search, :updated_at %></th>
      <th><%= sort_link @search, :created_at %></th>
    </tr>
    <tr>
      <th><%= text_field_tag :per_page, params[:per_page] || Stone.default_per_page %></th>
      <th><%= f.text_field :name_cont %></th>
      <th></th>
      <th><%= f.select :box_id_eq, Box.pluck(:name, :id), include_blank: true %></th>
      <th></th>
      <th></th>
      <th><%= f.select :tags_name_eq, ActsAsTaggableOn::Tag.pluck(:name), include_blank: true %></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th><%= f.text_field :box_name_cont %></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <% end %>
  </thead>
  <tbody>
    <% @stones.each do |stone| %>
    <tr>
      <td></td>
      <td><%= stone.name %></td>
      <td><%= stone.parent_id %></td>
      <td><%= stone.box.try!(:name) %></td>
      <td><%= stone.physical_form.try!(:name) %></td>
      <td><%= stone.classification.try!(:name) %></td>
      <td><%= stone.tag_list %></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <%= render partial: "new", locals: { stone: Stone.new } %>
  </tfoot>
</table>
