<div class="row">
  <div id="show-caption" class="col-lg-12">
    <%= @stone.name_with_id %>
  </div>
</div>
<div class="row">
  <div id="show-tools" class="col-lg-4">
    <div class="row btn-toolbar tool-selector" role="toolbar">
      <div class="btn-group btn-group-sm">
        <%= link_to family_stone_path(@stone), class: "btn btn-default activate", remote: true do %>
          <span class="glyphicon glyphicon-tree-conifer"></span>
        <% end %>
        <% if @stone.has_image? %>
          <%= link_to picture_stone_path(@stone), class: "btn btn-default", remote: true do %>
            <span class="glyphicon glyphicon-picture"></span>
          <% end %>
        <% end %>
        <%= link_to map_stone_path(@stone), class: "btn btn-default", remote: true do %>
          <span class="glyphicon glyphicon-globe"></span>
        <% end %>
      </div>
      <div class="btn-group btn-group-sm">
        <%= link_to edit_stone_path(@stone), class: "btn btn-default", remote: true do %>
          <span class="glyphicon glyphicon-pencil"></span>
        <% end %>
        <%= link_to property_stone_path(@stone), class: "btn btn-default", remote: true do %>
          <span class="glyphicon glyphicon-cog"></span>
        <% end %>
      </div>
      <div class="btn-group btn-group-sm">
        <%= link_to download_label_stone_path(@stone), class: "btn btn-default" do %>
          <span class="glyphicon glyphicon-tag"></span>
        <% end %>
        <%= link_to download_card_stone_path(@stone), class: "btn btn-default" do %>
          <span class="glyphicon glyphicon-file"></span>
        <% end %>
      </div>
    </div>
    <img>
    <div class="row tool-content">
    </div>
  </div>
  <div id="show-body" class="col-lg-8">
    <%= @stone.path %>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li><a href="#at-a-glance" data-toggle="tab">At a glance</a></li>
      <li><a href="#daughter" data-toggle="tab">daughter <%= data_count(@stone.children) %></a></li>
      <li><a href="#analysis" data-toggle="tab">analysis <%= data_count(@stone.analyses) %></a></li>
      <li><a href="#bib" data-toggle="tab">bib <%= data_count(@stone.bibs) %></a></li>
      <li><a href="#file" data-toggle="tab">attachment_file <%= data_count(@stone.attachment_files) %></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane<%= if_active %>" id="at-a-glance"><%= render partial: "at_a_glance" %></div>
      <div class="tab-pane<%= if_active "daughter" %>" id="daughter"><%= render partial: "daughter" %></div>
      <div class="tab-pane<%= if_active "analysis" %>" id="analysis"><%= render partial: "analysis" %></div>
      <div class="tab-pane<%= if_active "bib" %>" id="bib"><%= render partial: "bib" %></div>
      <div class="tab-pane<%= if_active "attachment_file" %>" id="attachment_file"><%= render partial: "attachment_file" %></div>
    </div>
  </div>
</div>
