<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<div class="pull-left">
place&nbsp;<%= link_to('quantity', quantity_history_specimen_path(@specimen))%>
</div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <% @specimen.paths.includes(:brought_in_by, :brought_out_by).each do |path| %>
  <% box = path.boxes.last %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= content_tag(:h3, history_title(path), class: "panel-title" ) %> 
    </div>
    <div class="panel-body">
      <div><%= timeline(path.brought_in_at, path.brought_out_at) %></div>
      <div>description: <%= best_in_place path, :note, :as => :input, :place_holder => 'Clik me to edit.' %></div>

      <% if box %>
          <% links = [] %>
          <% path.related_spots.each do |spot| %>
            <% next unless spot.attachment_file%>
            <% svg_link = link_to(spot_path(spot)) do %>
              <% spot.attachment_file.decorate.picture_with_spots(width:120, height:90, spots:[spot], with_cross: true) %>
            <% end %>
            <% links << content_tag(:div, svg_link, class: "col-xs-3 col-sm-3 col-md-3 col-lg-3") %>
          <% end %>
          <%= content_tag(:div, raw( links.join ), class: "row spot-thumbnails") %>
      <% end %>

    </div>
  </div>
  <% end %>
</div>

<%= mantra "Newer record above.", :title => "Relocation history of <#{@specimen.name}>" %>
