<%= form_for specimen, remote: true, format: :json, html: { class: "create" } do |f| %>
<tr>
  <th><%= check_box_tag nil, nil, false, class: "select-row-all" %></th>
  <th><%= f.text_field :name, class: "form-control input-sm", size: 15 %></th>
  <th>
    <div class="input-group">
      <%= f.text_field :parent_global_id, class: "form-control input-sm", size: 15 %>
      <span class="input-group-addon">
	<%= link_to specimens_path(per_page: 10, format: :modal), "data-toggle" => "modal", "data-target" => "#search-modal", "data-input" => "#specimen_parent_global_id" do %>
	<span class="glyphicon glyphicon-search"></span>
	<% end %>
      </span>
    </div>
  </th>
  <%= th_if_expand do %>
    <div class="input-group">
      <%= f.text_field :box_global_id, class: "form-control input-sm", size: 15 %>
      <span class="input-group-addon">
	<%= link_to boxes_path(per_page: 10, format: :modal), "data-toggle" => "modal", "data-target" => "#search-modal", "data-input" => "#specimen_box_global_id" do %>
	<span class="glyphicon glyphicon-search"></span>
	<% end %>
      </span>
    </div>
  <% end %>
  <th><%= f.select :physical_form_id, PhysicalForm.pluck(:name, :id), { include_blank: true }, class: "form-control input-sm" %></th>
  <th><%= f.select :classification_id, Classification.pluck(:full_name, :id), { include_blank: true }, class: "form-control input-sm" %></th>
  <%= th_if_expand do %>
    <%= f.text_field :tag_list, class: "form-control input-sm", size: 15 %>
  <% end %>
  <%= f.fields_for :record_property_attributes do |r| %>
  <%= th_if_expand @current_user.username %>
  <th>
    <%= r.select :group_id ,Group.pluck(:name, :id), { include_blank: true }, class: "form-control input-sm" %>
    <%= r.hidden_field :user_id ,value: @current_user.id %>
  </th>
  <% end %>
  <th>
    <%= f.button class: "btn btn-default" do %>
    <span class="glyphicon glyphicon-save"></span>
    <% end %>
  </th>
</tr>
<% end %>
