<div class="panel panel-default">
  <div class="panel-heading"><label><%= table_name %></label></div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>date</th>
          <th>target</th>          
          <th>operation</th>
          <th>quantity</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% data.each do |row| %>
          <tr>
            <td>
              <%= link_to edit_divide_path(row[:id], specimen_id: params[:id]) do %>
                <span class="glyphicon glyphicon-edit"></span>
              <% end %>
            </td>
            <td><%= row[:date_str] %></td>          
            <td><%= row[:before_specimen].presence ? link_to(row[:before_specimen_name], row[:before_specimen]) : "-" %></td>            
            <td><%= row[:comment] %></td>
            <td><%= row[:quantity_str] %></td>
            <td>
              <% if Divide.find_by(id: row[:id]).try(:afters).blank? %>
                <% confirm = t("confirm.delete",:recordname =>"\"#{row[:comment]}\"") %>
                <% confirm += "\nAre you sure you want to permanently delete divided specimen too?" if row[:divide_flg] %>
                <%= link_to divide_path(row[:id], specimen_id: params[:id]), method: :delete , data: { confirm: confirm } do %>
                  <span class="glyphicon glyphicon-remove"></span>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>