    <% tab_info = [
        ["at-a-glance",nil,"show representative properties of the #{@alias_specimen}"],
        ["daughter",@specimen.children,"show sub-#{@alias_specimens} made from the #{@alias_specimen}"],
        ["history", @specimen.paths,"show boxes which contains the #{@alias_specimen}"],
        #["table",@specimen.full_tables,"show tables related to the #{@alias_specimen}"],
        #["surface",@specimen.full_surfaces,"show surface information of the #{@alias_specimen}"],
        ["analysis",@specimen.full_analyses,"show analysis information of the #{@alias_specimen}"],
        ["bib",@specimen.full_bibs,"show bibliography related to the #{@alias_specimen} and its descendants"],
        ["file",@specimen.attachment_files,"show data files of the #{@alias_specimen}"],
        #["quantity", @specimen.self_and_descendants,"show quantity history of the #{@alias_specimen}"]
        ] %>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <% tab_info.each do |key,array,message| %>
       <li class="<%= active_if_current(key) %>" ><a href="#<%= key %>" data-toggle="tab" title="<%= message %>"><%= key + data_count(array) %></a></li>
      <% end %>

    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <% tab_info.each do |key,array| %>
        <div class="tab-pane<%= active_if_current(key) %>" id="<%= key %>"><%= render partial: key.underscore %></div>
      <% end %>
    </div>
 
