<% @specimen.full_surfaces.each do |surface| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= link_to(list_title(surface), surface, :title => "view map") %>
          <%= link_to specimen_surface_path(@specimen, surface) + tab_param(__FILE__), method: :delete, title: "unlink surface", data: {confirm: t("confirm.unlink")} do %>
            <span class="glyphicon glyphicon-remove"></span>
          <% end %>
          <a href="#surface-<%= surface.id %>", data-toggle="collapse", aria-expanded="false", aria-control="surface-<%= surface.id %>", title = "show and hide spots belong to the surface">
            <span class="badge" style="float:right"><%= (surface.globe? ? 1 : surface.spots.size) %></span>
          </a>
  
          </div>
      <div class="panel-body collapse" id="surface-<%= surface.id %>">
      <% if surface.globe? %>
      <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th></th>
            <th>name</th>
            <th>latitude</th>
            <th>longitude</th>
            <th></th>
            <th>global-id</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <%= form_with url:bundle_edit_places_path, id: "place-bundle-form" do %>
          <% place = @specimen.place %>
          <tr>
            <td>
            </td>
            <td><%= link_to_if can?(:read, place), list_title(place), place %></td>
            <td><%= place.decorate.latitude_to_text %></td>
            <td><%= place.decorate.longitude_to_text %></td>
            <td></td>
            <td><%= place.try!(:global_id) %></td> 
            <td>
            </td>
          </tr>
        <% end %>
        </tbody>
        <tfoot>
          <tr>
          </tr>
        </tfoot>
      </table>
    <% else %>
      <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th></th>
          <th>name</th>
          <th>coordinate</th>
          <th>global-id</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
          <% surface.spots.each do |spot| %>
            <% spot = spot.decorate %>
            <% next unless spot %>
            <tr>
              <td>
              </td>
              <td><%= link_to_if can?(:read, spot), list_title(spot), spot %></td>
              <td><%= spot.decorate.world_xy_to_text %></td>
              <td><%= spot.try!(:global_id) %></td> 
              <td>
              </td>
            </tr>
          <% end %>
      </tbody>
    </table>
    <% end %>
    </div>
    </div>
  <% end %>
  
  <div class="panel panel-default">
  <div class="panel-heading">
  </div>
  <table class="table table-condensed">
    <tr>
    <td class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <%= form_with url:link_by_global_id_specimen_surfaces_path(@specimen), method: :post do %>
        <%= hidden_tabname_tag(__FILE__) %>
          <div class="input-group"> 
          <%= text_field_tag :global_id, nil, id: "surface-global-id", :placeholder => "input ID", class: "form-control input-sm" %>
          <span class="input-group-addon">
            <%= link_to surfaces_path(per_page: 10, format: :modal), "data-toggle" => "modal", "data-target" => "#search-modal", "data-input" => "#surface-global-id" do %>
              <span class="glyphicon glyphicon-search"></span>
            <% end %>
          </span>
  
          </div>
            <%= button_tag title: "link surface by global id", class: "btn btn-default" do %>
              <span class="glyphicon glyphicon-save"></span>
            <% end %>
      <% end %>
    </td>
    <td class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <%= form_with model:Surface.new, url: specimen_surfaces_path(@specimen) do |f|%>
          <%= hidden_tabname_tag(__FILE__) %>
          <%= f.text_field :name, :placeholder => "input name", class: "form-control input-sm" %>
            <%= f.button title:"add surface", class: "btn btn-default" do %>
              <span class="glyphicon glyphicon-save"></span>
            <% end %>
        <% end %>
    </td>
    </tr>
  </table>
  </div>
