<%= form_with model:@specimen, local: false, format: :json, html: { id: "edit_specimen_#{@specimen.id}", class: "update", role: "form" } do |f| %>
  <div class="form-group form-group-sm">
    <%= f.label :igsn, class: "small" %>
    <%= f.text_field :igsn, class: "form-control input-sm", disabled: true%>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :age_mean, class: "small" %>
    <%= f.text_field :age_mean, class: "form-control input-sm rel-age" %>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :age_error, class: "small" %>
    <%= f.text_field :age_error, class: "form-control input-sm rel-age" %>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :age_min, class: "small" %>
    <%= f.text_field :age_min, class: "form-control input-sm rel-age" %>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :age_max, class: "small" %>
    <%= f.text_field :age_max, class: "form-control input-sm rel-age" %>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :age_unit, class: "small" %>
    <%= f.select :age_unit, ["a","ka","Ma","Ga"].map{|n| [n,n]}, { include_blank: true }, class: "form-control input-sm rel-age" %>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :birth, class: "small" %>
    <%= f.text_field :abs_age, id: "abs-age", class: "form-control input-sm", placeholder: "Type AD year when you know the absolute age." %>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :size, class: "small" %>
    <%= f.text_field :size, class: "form-control input-sm" %>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :size_unit, class: "small" %>
    <%= f.text_field :size_unit, class: "form-control input-sm" %>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :collector, class: "small" %>
    <%= f.text_field :collector, class: "form-control input-sm" %>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :collector_detail, class: "small" %>
    <%= f.text_area :collector_detail, class: "form-control input-sm", row: 3 %>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :collected_at, class: "small" %>
    <%= f.datetime_local_field :collected_at, class: "form-control input-sm", placeholder: "yyyy-mm-dd hh:mm:ss" %>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :collected_end_at, class: "small" %>
    <%= f.datetime_local_field :collected_end_at, class: "form-control input-sm", placeholder: "yyyy-mm-dd hh:mm:ss" %>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :collection_date_precision, class: "small" %>
    <%= f.select :collection_date_precision, ["year","month","day","time"].map{|n| [n,n]}, { include_blank: true }, class: "form-control input-sm" %>
  </div>
  <% @specimen_custom_attributes.each do |specimen_custom_attribute| %>
    <%= f.fields_for(:specimen_custom_attributes, specimen_custom_attribute) do |fo| %>
      <div class="form-group form-group-sm">
        <%= label_tag "custom_attribute_name", specimen_custom_attribute.custom_attribute.name, class: "small" %>
        <%= fo.hidden_field :custom_attribute_id %>
        <%= fo.text_field :value, class: "form-control input-sm" %>
      </div>
    <% end %>
  <% end %>
  <div class="form-group form-group-sm">
    <%= f.label :description, class: "small" %>
    <%= f.text_area :description, class: "form-control input-sm", row: 3 %>
  </div>
  <%= f.button class: "btn btn-default btn-sm" do %>
  <span class="far fa-save"></span>
  <% end %>
  <%= f.button name: "sesar_upload", id: "sesar_upload", class: "btn btn-default" do %>
    Sesar upload
  <% end %>
  <%= f.button name: "sesar_download", id: "sesar_download", class: "btn btn-default", disabled: true, data: {confirm: "Are you sure you want to sync IGSN '#{@specimen.igsn}' from Sesar?"} do %>
    Sesar download
  <% end %>
  <%= f.button id: "sesar_unlink", class: "btn btn-default", disabled: true, data: {confirm: "Are you sure you want to unlink an IGSN '#{@specimen.igsn}'?"} do %>
    Sesar unlink
  <% end %>
<% end %>

<%= javascript_tag do %>
  $(document).on("succeed.ajaxForm", "#edit_specimen_<%= @specimen.id %>", function() {
    location.href="<% specimen_path(@specimen) %>";
  });
  $(document).on("click", "#sesar_unlink", function() {
    $(this).closest("form").find(":input").filter(":not(:hidden)").prop("disabled", true);
    $("#specimen_igsn").prop("disabled", false).val("");
  });
  $(document).on("change", "#abs-age", function() {
    $(".rel-age").prop("disabled", $(this).val().length > 0);
  });
  $(function() {
    $(document).ready(function() {
      if ("<%= @specimen.igsn %>"){
        $("#sesar_unlink").prop("disabled", false);
        $("#sesar_download").prop("disabled", false);
      }
      $("#abs-age").change();
    });
  });
<% end %>
