<%= paginate @specimens, remote: true %>
<%= search_form_for @search, url: polymorphic_path(@search.klass, format: :modal), remote: true do |f| %>
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>
        <%= f.button class: "btn btn-default" do %>
        <span class="fas fa-redo"></span>
        <% end %>
      </th>
      <th><%= sort_link @search, :name, "name", { format: :modal }, remote: true %></th>
      <th><%= sort_link @search, :parent_name, "parent", { format: :modal }, remote: true %></th>
      <th><%= sort_link @search, :physical_form_name, "physical-form", { format: :modal }, remote: true %></th>
      <th><%= sort_link @search, :classification_full_name, "classification", { format: :modal }, remote: true %></th>
      <th><%= sort_link @search, :group_name, "group", { format: :modal }, remote: true %></th>
      <th><%= sort_link @search, :updated_at, "updated-at", { format: :modal }, remote: true %></th>
    </tr>
    <tr>
      <th><%= text_field_tag :per_page, (params[:per_page] || Specimen.default_per_page), size: 4, readonly: true %></th>
      <th><%= f.text_field :name_cont, size: 15 %></th>
      <th><%= f.text_field :parent_name_cont, size: 15 %></th>
      <th><%= f.text_field :physical_form_name_cont, size: 12 %></th>
      <th><%= f.text_field :classification_full_name_cont, size: 12 %></th>
      <th><%= f.text_field :group_name_cont, size: 15 %></th>
      <th>
        <%= f.text_field :updated_at_gteq, class: 'datepicker', placeholder: "from:", value: format_date(params[:q] && params[:q][:updated_at_gteq]), size: 10 %>
      </th>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th>
        <%= f.text_field :updated_at_lteq_end_of_day, class: 'datepicker', placeholder: "to:", value: format_date(params[:q] && params[:q][:updated_at_lteq_end_of_day]), size: 10 %>
      </th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "specimen.modal", collection: @specimens, locals: { checked: false } %>
  </tbody>
</table>
<% end %>
