<div class="row">
  <div class="col-lg-4">
    <%= @specimen.primary_picture %>
  </div>
  <div class="col-lg-8">
    <dl class="dl-horizontal">
      <dt>name</dt>
      <dd><%= @specimen.name %></dd>
      <dt>parent</dt>
      <dd><%= @specimen.parent.try!(:name) %></dd>
      <dt>box</dt>
      <dd><%= @specimen.box.try!(:name) %></dd>
      <dt>physical form</dt>
      <dd><%= @specimen.physical_form.try!(:name) %></dd>
      <dt>classification</dt>
      <dd><%= @specimen.classification.try!(:full_name) %></dd>
      <dt>tags</dt>
      <dd><%= @specimen.tag_list %></dd>
      <dt>owner</dt>
      <dd><%= @specimen.user.try!(:username) %></dd>
      <dt>group</dt>
      <dd><%= @specimen.group.try!(:name) %></dd>
      <dt>published at</dt>
      <dd><%= difference_from_now(@specimen.published_at) %></dd>
      <dt>created at</dt>
      <dd><%= difference_from_now(@specimen.created_at) %></dd>
      <dt>updated at</dt>
      <dd><%= difference_from_now(@specimen.updated_at) %></dd>
    </dl>
  </div>
</div>
