<div class="row">
  <div id="show-caption" class="col-lg-12">
    <%= @specimen.path_with_id %> <%= published_label(@specimen) %>
  </div>
</div>
<div class="row">
  <div id="show-tools" class="col-lg-4">
    <div class="row btn-toolbar tool-selector" role="toolbar">
      <div class="btn-group btn-group-sm">
        <%= link_to family_specimen_path(@specimen), class: "btn btn-default activate", id: "tree-conifer-button", remote: true, title: "top" do %>
          <span class="fas fa-tree"></span>
        <% end %>
        <% if @specimen.has_image? %>
          <%= link_to picture_specimen_path(@specimen), class: "btn btn-default", id: "picture-button", remote: true, title: "show image" do %>
            <span class="far fa-image"></span>
          <% end %>
        <% end %>
        <%= link_to map_specimen_path(@specimen), class: "btn btn-default", id: "globe-button", remote: true, title: "edit world coordinates" do %>
          <span class="fas fa-globe-asia"></span>
        <% end %>
      </div>
      <% if can? :update, @specimen %>
      <div class="btn-group btn-group-sm">
        <%= link_to edit_specimen_path(@specimen), class: "btn btn-default", id: "pencil-button", remote: true, title: "edit physical information" do %>
          <span class="fas fa-pencil-alt"></span>
        <% end %>
        <%= link_to detail_edit_specimen_path(@specimen), class: "btn btn-default", id: "wrench-button", remote: true, title: "edit locality" do %>
          <span class="fas fa-wrench"></span>
        <% end %>
        <%= link_to property_specimen_path(@specimen), class: "btn btn-default", id: "cog-button", remote: true, title: "edit global ID" do %>
          <span class="fas fa-cog"></span>
        <% end %>
      </div>
      <% end %>
      <div class="btn-group btn-group-sm">
        <%= link_to download_label_specimen_path(@specimen), class: "btn btn-default", id: "tag-button", title: "print barcode label" do %>
          <span class="fas fa-tag"></span>
        <% end %>
        <%= link_to download_card_specimen_path(@specimen), class: "btn btn-default", id: "file-button", title: "download PDF" do %>
          <span class="fas fa-file"></span>
        <% end %>
      </div>
    </div>
    <img>
    <div class="row tool-content">
    </div>
  </div>
  <div id="show-body" class="col-lg-8">
    <% cache @specimen do %>
      <%= render(partial: "show_body") %>
    <% end %>
  </div>
</div>


<%= javascript_tag do %>
  <% fids = @specimen.family_ids %>
  <% @specimen.full_tables.each do |table| %>
    <% m = table.data[:m] %>
    <% next unless m %>
    <% m[0] = ["",""].concat( table.table_specimens.map.with_index(1){|ts, idx| link_to(( fids.include?(ts.specimen.id) ? content_tag(:span, "#{idx}", class: "label label-primary") : content_tag(:span, "#{idx}", class:"label label-default")), specimen_path(ts.specimen), title: "#{ts.specimen.name}") } ) if m %>
    var thot_<%= table.id %> = new Handsontable(document.getElementById("table_<%= table.id %>"), {
      data: <%= raw(m.to_json) %>,
      columns: [
        <% m[0].length.times do |i| %>
          <%= raw("{ renderer: 'html'},") %>
        <% end %>
      ],
      licenseKey: 'non-commercial-and-evaluation',
      //colWidths: 100,
      width: '100%',
      height: <%= ((m.length + 1) * 25) %>,
      rowHeights: 25,
      fixedRowsTop: 1,
      fixedColumnsLeft: 2      
      //rowHeaders: true,
      //colHeaders: true
    });
  <% end %>
<% end %>