<%= form_with model:@technique, html: {class: "col-lg-3"} do |f| %>
  <%= error_notification(@technique.errors) %>

  <div class="form-group form-group-sm">
    <%= f.label :name, class: "small" %>
    <%= f.text_field :name, class: "form-control input-sm" %>
  </div>

  <%= f.submit "update", class: "btn btn-sm" %>
  <%= link_to "cancel", techniques_path, class: "btn btn-sm" %>
<% end %>