<table class="table table-condensed table-striped">
  <thead>
    <%= search_form_for @search do |f| %>
    <tr>
      <th>
        <%= f.button class: "btn btn-default" do %>
        <span class="glyphicon glyphicon-refresh"></span>
        <% end %>
      </th>
      <th><%= sort_link @search, :name, "name" %></th>
      <th></th>
      <th><%= sort_link @search, :updated_at, "updated-at" %></th>
      <th><%= sort_link @search, :created_at, "created-at" %></th>
    </tr>
    <tr>
      <th></th>
      <th><%= f.text_field :name_cont, class: "form-control input-sm" %></th>
      <th></th>
      <th>
        <%= f.text_field :updated_at_gteq, placeholder: "from:", value: format_date(params[:q] && params[:q][:updated_at_gteq]), class: "form-control input-sm datepicker" %>
      </th>
      <th>
        <%= f.text_field :created_at_gteq, placeholder: "from:", value: format_date(params[:q] && params[:q][:created_at_gteq]), class: "form-control input-sm datepicker" %>
      </th>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th>
        <%= f.text_field :updated_at_lteq_end_of_day, placeholder: "to:", value: format_date(params[:q] && params[:q][:updated_at_lteq_end_of_day]), class: "form-control input-sm datepicker" %>
      </th>
      <th>
        <%= f.text_field :created_at_lteq_end_of_day, placeholder: "to:", value: format_date(params[:q] && params[:q][:created_at_lteq_end_of_day]), class: "form-control input-sm datepicker" %>
      </th>
    </tr>
    <% end %>
  </thead>
  <tbody>
    <% @techniques.each do |technique| %>
    <tr>
      <td>
        <%= link_to edit_technique_path(technique) do %>
        <span class="glyphicon glyphicon-edit"></span>
        <% end %>
      </td>
      <td><%= technique.name %> <span class="badge"><%= technique.analyses.size %></span></td>
      <td></td>
      <td><%= difference_from_now(technique.updated_at) %></td>
      <td><%= difference_from_now(technique.created_at) %></td>
      <td>
        <% if technique.analyses.empty? %>
        <%= link_to technique_path(technique), method: :delete , data: {confirm: t("confirm.delete",:recordname => technique.name)} do %>
        <span class="glyphicon glyphicon-remove"></span>
        <% end %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <%= form_with model:Technique.new, local: false, format: :json, html: { id: "new_technique", class: "create" } do |f| %>
    <tr>
      <td></td>
      <td><%= f.text_field :name, class: "form-control input-sm" %></td>
      <td>
        <%= f.button class: "btn btn-default", id: "save-button" do %>
        <span class="glyphicon glyphicon-save"></span>
        <% end %>
      </td>
      <td></td>
      <td></td>
    </tr>
    <% end %>
  </tfoot>
</table>
<%= javascript_tag do %>
  $(document).on("succeed.ajaxForm", "#new_technique", function() {
    $("#technique_search").submit();
  });
<% end %>
