<%= paginate @groups %>
<table>
  <thead>
    <%= search_form_for @search do |f| %>
    <tr>
      <th>
        <%= f.button class: "btn btn-default" do %>
        <span class="glyphicon glyphicon-refresh"></span>
        <% end %>
      </th>
      <th><%= sort_link @search, :name %></th>
      <th></th>
      <th><%= sort_link @search, :updated_at %></th>
      <th><%= sort_link @search, :created_at %></th>
    </tr>
    <tr>
      <th></th>
      <th>
        <%= f.condition_fields do |c| %>
          <%= c.attribute_fields do |a| %>
            <%= a.hidden_field(:name, value: "name") %>
          <% end %>
          <%= c.predicate_select(compounds: false) %>
          <%= c.value_fields do |v| %>
            <%= v.text_field :value %>
          <% end %>
        <% end %>
      </th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <% end %>
  </thead>
  <tbody>
    <% @groups.each do |group| %>
    <tr>
      <td>
        <%= link_to edit_group_path(group) do %>
        <span class="glyphicon glyphicon-edit"></span>
        <% end %>
        <%= link_to group_path(group), method: :delete, confirm: t("confirm.delete") do %>
        <span class="glyphicon glyphicon-trash"></span>
        <% end %>
      </td>
      <td><%= group.name %></td>
      <td></td>
      <td><%= difference_from_now(group.updated_at) %></td>
      <td><%= difference_from_now(group.created_at) %></td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <%= form_for Group.new do |f| %>
    <tr>
      <td></td>
      <td><%= f.text_field :name %></td>
      <td>
        <%= f.button class: "btn btn-default" do %>
        <span class="glyphicon glyphicon-save"></span>
        <% end %>
      </td>
      <td></td>
      <td></td>
    </tr>
    <% end %>
  </tfoot>
</table>