<%= form_for @user, html: { class: "col-lg-4" } do |f| %>
  <%= error_notification(@user.errors) %>

  <div>
    <%= f.label :username %><br>
    <%= f.text_field :username, autocomplete: "off", class: "form-control input-sm" %>
  </div>

  <div>
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control input-sm" %>
  </div>

  <div>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control input-sm" %>
  </div>

  <div>
    <%= f.label :family_name %><br />
    <%= f.text_field :family_name, class: "form-control input-sm" %>
  </div>

  <div>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, class: "form-control input-sm" %>
  </div>

  <div>
    <%= f.label :email %><br />
    <%= f.text_field :email, class: "form-control input-sm" %>
  </div>

  <div>
    <%= f.label :description %><br />
    <%= f.text_area :description, class: "form-control input-sm" %>
  </div>

  <div>
    <%= f.check_box :administrator %>
    <%= f.label :administrator %><br />
  </div>

  <div>
    <%= f.label "Group" %><br/>
    <%= f.collection_check_boxes :group_ids,Group.all,:id,:name %>
  </div>

  <%= f.submit  class: "btn btn-sm" %>
  <%= link_to "cancel", users_path, class: "btn btn-sm" %>

<% end %>
