<%= paginate @users %>
<%= link_to "new...",new_user_path %>
<table class="table table-condensed table-striped">
  <thead>
    <%= search_form_for @search do |f| %>
    <tr>
      <th>
        <%= f.button class: "btn btn-default" do %>
        <span class="glyphicon glyphicon-refresh"></span>
        <% end %>
      </th>
      <th><%= sort_link @search, :username, "name" %></th>
      <th><%= sort_link @search, :email, "email" %></th>
      <th><%= sort_link @search, :updated_at, "updated_at" %></th>
      <th><%= sort_link @search, :created_at, "created_at" %></th>
    </tr>
    <tr>
      <th></th>
      <th><%= f.text_field :username_cont, class: "form-control input-sm" %></th>
      <th></th>
      <th>
        <%= f.text_field :updated_at_gteq, class: 'datepicker', placeholder: "from:", value: format_date(params[:q] && params[:q][:updated_at_gteq]), class: "form-control input-sm" %>
      </th>
      <th>
        <%= f.text_field :created_at_gteq, class: 'datepicker', placeholder: "from:", value: format_date(params[:q] && params[:q][:created_at_gteq]), class: "form-control input-sm" %>
      </th>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th>
        <%= f.text_field :updated_at_lteq_end_of_day, class: 'datepicker', placeholder: "to:", value: format_date(params[:q] && params[:q][:updated_at_lteq_end_of_day]), class: "form-control input-sm" %>
      </th>
      <th>
        <%= f.text_field :created_at_lteq_end_of_day, class: 'datepicker', placeholder: "to:", value: format_date(params[:q] && params[:q][:created_at_lteq_end_of_day]), class: "form-control input-sm" %>
      </th>
    </tr>
    <% end %>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td>
        <%= link_to edit_user_path(user) do %>
        <span class="glyphicon glyphicon-edit"></span>
        <% end %>
      </td>
      <td><%= user.username %></td>
      <td><%= user.email %></td>
      <td><%= difference_from_now(user.updated_at) %></td>
      <td><%= difference_from_now(user.created_at) %></td>
      <td>
        <%= link_to user_path(user), method: :delete , data: {confirm: t("confirm.delete")} do %>
        <span class="glyphicon glyphicon-remove"></span>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
  </tfoot>
</table>
