<%
analyses = @box.analyses
if params[:measurement_category_id].blank?
  measurement_items = MeasurementItem.all
else
  measurement_items = MeasurementItem.joins(:measurement_categories).where(measurement_categories: {id: params[:measurement_category_id]})
end
%>
<% unless analyses.empty? %>
  Table of analysis on <%= content_tag(:span, nil, class: "glyphicon glyphicon-folder-close") + link_to(@box.name, box_path(@box)) %>
  <table class="table table-condensed table-striped">
    <thead>
      <tr><th colspan="<%= analyses.size + 2 %>"></th></tr>
      <tr>
        <th></th>
        <th>unit</th>
        <% analyses.each do |analysis| %>
          <th <%== "class=\"success\"" if params[:analysis_id] == analysis.id.to_s %>><%= analysis.name %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% measurement_items.each do |measurement_item| %>
        <tr>
          <th align="right"><%== measurement_item.display_name %></th>
          <th> <%== measurement_item.unit.try!(:html) %></th>
          <% value = "ー" %>
          <% analyses.each do |analysis| %>
            <% analysis.chemistries.each{|chemistry| value = chemistry.value if chemistry.measurement_item_id == measurement_item.id } %>
            <td <%== "class=\"success\"" if params[:analysis_id] == analysis.id.to_s %>align="right">
              <%= value %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= form_tag( box_path(@box), method: :get) do %>
    <%= hidden_field_tag :tab,File.basename(__FILE__).gsub(/^_/,"").gsub(/.html.erb/,"") %>
    analysis:
    <%= select_tag :analysis_id,options_for_select(analyses.map{|analysis|[analysis.name,analysis.id]},params[:analysis_id]),include_blank: true %>
    measurement_category:
    <%= select_tag(:measurement_category_id, options_for_select(MeasurementCategory.pluck(:name, :id), params[:measurement_category_id]), include_blank: true) %>
    <%= submit_tag "reload" %>
  <% end %>
<% end %>
