<div>
  Table of analysis on <%= content_tag(:span, nil, class: "glyphicon glyphicon-folder-close") + link_to(@box.name, box_path(@box)) %>
  <table>
    <tr>
      <th colspan="<%= @box.stones.each{|stone| stone.analyses }.size + 1 %>"></th>
      <th></th>
    </tr>
    <% if params[:measurement_category_id].blank? %>
      <% measurement_items = MeasurementItem.all %>
    <% else %>
      <% measurement_items = MeasurementItem.joins(:measurement_categories).where(measurement_categories: {id: params[:measurement_category_id]}) %>
    <% end %>
    <% measurement_items.each do |measurement_item| %>
      <tr>
        <th align="right"><%== measurement_item.display_name %></th>
        <% value = "" %>
        <% unit_value = "" %>
        <% @box.stones.each do |stone| %>
          <% stone.analyses.each do |analysis| %>
            <% analysis.chemistries.each do |chemistry| %>
              <% if chemistry.measurement_item_id == measurement_item.id %>
                <% value = chemistry.value %>
                <% unit_value = chemistry.unit.text %>
              <% end %>
            <% end %>
            <td align="right">
              <%= value.blank? ? "ー" : value %>
            </td>
          <% end %>
        <% end %>
        <td>
          <%= unit_value %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= @box.analysis_name %>
  <%= form_tag(box_path(@box), method: :get) do %>
    <%= select_tag(:measurement_category_id, options_for_select(MeasurementCategory.pluck(:name, :id), params[:measurement_category_id]), include_blank: true) %>
    <%= submit_tag "reload" %>
  <% end %>
</div>
