<ul>
  <%= li_if_exist("box type: ", @box.box_type.try!(:name)) %>
  <%= li_if_exist("quantity: ", @box.quantity_with_unit) %>
  <% total_decimal_quantity = @box.total_decimal_quantity %>
  <li><%= "Box total quantity: #{Quantity.quantity(total_decimal_quantity)} #{Quantity.quantity_unit(total_decimal_quantity)}" %></li>
  <%= li_if_exist("tag list: ", @box.tag_list) %>
  <%= li_if_exist("description: ", @box.description) %>
  <li>updated-at: <%= difference_from_now(@box.updated_at) %></li>
  <%= li_if_exist("bib:", @box.bibs_with_link) %>

  <% if @box.attachment_pdf_files.present? %>
    <li>
      <% @box.attachment_pdf_files.each do |attachment_pdf_file| %>
        <%= attachment_pdf_file.name %>
        <%= link_to(image_pack_tag("icon_pdf_1.png", size: "24x24"), download_attachment_file_path(attachment_pdf_file.id), id: "file-#{attachment_pdf_file.id}-button") %>
      <% end %>
    </li>
  <% end %>
</ul>

<div class="row spot-thumbnails">
  <%= @box.decorate.related_pictures %>
</div>

<%= render :partial => "contents" %>
<%= mantra "Shows box information. Above is storage location and ID number, and left is photo and contained samples.", :title => "Properties of <#{@box.name}>" %> 

