<tr>
  <td><%= check_box_tag("ids[]", box.id, checked, id: "ids_#{box.id}", class: "select-row") if can?(:update, box) %></td>
  <td><%= link_to box.attachment_image_files.first.decorate.picture(width: 70, height: 70, type: :thumb), box.attachment_image_files.first if box.attachment_image_files.present? %></td>
  <td><%= link_to list_title(box), box %></td>
  <td><%= link_to box.parent.name,box.parent if box.parent %></td>
  <td><%= box.box_type.try!(:name) %></td>
  <%= td_if_expand box.tag_list %>
  <%= td_if_expand box.user.try!(:username) %>
  <td><%= box.group.try!(:name) %></td>
  <%= td_if_expand difference_from_now(box.published_at) %>
  <td><%= difference_from_now(box.updated_at) %></td>
  <%= td_if_expand difference_from_now(box.created_at) %>
</tr>
<%= mantra "Boxes rerated to <bench-container>.To upload a new box, fill in the columns of name and box-type. To link an existing box to <bench-container>, fill in the column with the ID." %> 
