<%= form_for box, remote: true, format: :json, html: { class: "create" } do |f| %>
<tr>
  <th><%= check_box_tag nil, nil, false, class: "select-row-all" %></th>
  <th><%= f.text_field :name %></th>
  <th><%= f.select :parent_id, Box.pluck(:name, :id), include_blank: true %></th>
  <th><%= f.select :box_type_id, BoxType.pluck(:name, :id), include_blank: true %></th>
  <th><%= f.text_field :tag_list %></th>
  <%= f.fields_for :record_property_attributes do |r| %>
  <th><%= @current_user.username %><%= r.hidden_field :user_id ,value: @current_user.id %></th>
  <th><%= r.select :group_id ,Group.pluck(:name, :id),include_blank: true %></th>
  <% end %>
  <th>
    <%= f.button class: "btn btn-default" do %>
    <span class="glyphicon glyphicon-save"></span>
    <% end %>
  </th>
  <th></th>
</tr>
<% end %>
