<div class="btn-group">
  <a href="#display-type-html" class="btn radio-button-group">html</a>
  <a href="#display-type-tex" class="btn radio-button-group">tex</a>
  <%= link_to "list", list_for_print_box_path(@box), class:"btn radio-button-group" %>
</div>
<div class="display-type">
  <div id="display-type-html">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="panel panel-default">
	  <div class="panel-heading">
	  </div>
	  <table class="table table-condensed">
	    <tbody>
          <%= form_tag bundle_edit_specimens_path, id: "specimen-bundle-form" do %>
		    <% @box.specimens.each do |specimen| %>
			  <% specimen = specimen.decorate %>
		  	  <%= render partial: "list_specimen", :locals => { specimen: specimen } %>
			<% end %>
          <% end %>
	    </tbody>
	  </table>
	</div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<%= link_to_function content_tag(:span, nil, class: "glyphicon glyphicon-pencil"), "$('#specimen-bundle-form').submit();", class: "btn btn-default", title: "open multi-edit page with checked items" %>
	<div class="panel panel-default">
	  <div class="panel-heading">
	  </div>
	  <table class="table table-condensed">
	    <tr>
	      <td class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
		<%= form_tag link_by_global_id_box_specimens_path(@box),method: :post do %>
		  <%= hidden_tabname_tag(__FILE__) %>
		  <div class="input-group">
		    <%= text_field_tag :global_id, nil, id: "specimen-global-id", :placeholder => "input ID", class: "form-control input-sm" %>
		    <span class="input-group-addon">
		      <%= link_to specimens_path(per_page: 10, format: :modal), "data-toggle" => "modal", "data-target" => "#search-modal", "data-input" => "#specimen-global-id" do %>
			<span class="glyphicon glyphicon-search"></span>
		      <% end %>
		    </span>

		  </div>
		  <%= button_tag title: "link specimen by global id", class: "btn btn-default" do %>
                    <span class="glyphicon glyphicon-save"></span>
		  <% end %>
		<% end %>
	      </td>
	      <td class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

		<%= form_for Specimen.new, url: box_specimens_path(@box) do |f|%>
		  <%= hidden_tabname_tag(__FILE__) %>
		  <%= f.text_field :name, :placeholder => "input name", class: "form-control input-sm" %>
		  <%= f.select :physical_form_id, PhysicalForm.pluck(:name, :id), { prompt: "select physical form" }, class: "form-control input-sm" %>
		  <%= f.text_field :quantity, :placeholder => "input quantity", class: "form-control input-sm" %>
		  <%= f.text_field :quantity_unit, :placeholder => "input quantity unit", class: "form-control input-sm" %>
		  <%= f.button title:"add specimen file", class: "btn btn-default" do %>
                    <span class="glyphicon glyphicon-save"></span>
		  <% end %>
		<% end %>
	      </td>
	    </tr>
	  </table>
	</div>
      </div>
    </div>
  </div>
  <div class="hidden" id="display-type-tex">
    <pre><code><%= @box.to_tex(@alias_specimen) %></code></pre>
  </div>
</div>
<%= mantra "To let join, fill ID field and press save button.  To create new, fill fields and press save button.", :title => "#{@alias_specimens} contained in <#{@box.name}>" %> 
