<% if @boxes.present? %>
  <div class="text-right">
    <%= link_to(image_tag("icon_pdf_1.png", size: "20x20"), download_bundle_card_boxes_path(ids: @boxes.pluck(:id)) ) %>
    and <%= link_to("A4", download_bundle_card_boxes_path(ids: @boxes.pluck(:id), a4: true)) %>
  </div>
<% end %>

<%= form_for Box.new, url: bundle_update_boxes_path do |f| %>
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th></th>
      <th>name</th>
      <th>parent</th>
      <th>box_type</th>
      <th>tags</th>
      <th>owner</th>
      <th>group</th>
      <th>published</th>
      <th>updated_at</th>
      <th>created_at</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: :box, collection: @boxes, locals: { checked: true } %>
  </tbody>
  <tfoot>
    <tr>
      <th><%= check_box_tag nil, nil, true, class: "select-row-all" %></th>
      <th></th>
      <th><%= f.select :parent_id, Box.pluck(:name, :id), include_blank: true %></th>
  <th><%= f.select :box_type_id, BoxType.pluck(:name, :id), include_blank: true %></th>
      <th><%= f.text_field :tag_list %></th>
      <th><%= f.select :user_id ,User.pluck(:username, :id), include_blank: true %></th>
      <th><%= f.select :group_id ,Group.pluck(:name, :id), include_blank: true %></th>
      <th>
        <%= f.button class: "btn btn-default" do %>
          <span class="glyphicon glyphicon-save"></span>
        <% end %>
      </th>
      <th></th>
      <th></th>
    </tr>
  </tfoot>
</table>
<% end %>
