<%= form_for @box, remote: true, format: :json, html: { class: "update", role: "form" } do |f| %>
  <div class="form-group form-group-sm">
    <%= f.label :name, class: "small" %>
    <%= f.text_field :name, class: "form-control input-sm" %>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :box_type_id, class: "small" %>
    <%= f.select :box_type_id, BoxType.pluck(:name, :id), {include_blank: true}, class: "form-control input-sm" %>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :quantity, class: "small" %>
    <%= f.text_field :quantity, class: "form-control input-sm" %>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :quantity_unit, class: "small" %>
    <%= f.text_field :quantity_unit, class: "form-control input-sm" %>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :tag_list, class: "small" %>
    <%= f.text_field :tag_list, class: "form-control input-sm" %>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :parent_global_id, class: "small" %>
    <div class="input-group">
      <%= f.text_field :parent_global_id, class: "form-control input-sm" %>
      <span class="input-group-addon">
	<%= link_to boxes_path(per_page: 10, format: :modal), "data-toggle" => "modal", "data-target" => "#search-modal", "data-input" => "#box_parent_global_id" do %>
	<span class="glyphicon glyphicon-search"></span>
	<% end %>
      </span>
    </div>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :description, class: "small" %>
    <%= f.text_area :description, class: "form-control input-sm" %>
  </div>
  <div class="form-group form-group-sm">
    <label class="small">Fixed in box</label>
    <%= f.label :fixed_in_box, class: "checkbox-inline" do %>
      <%= f.check_box :fixed_in_box %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-default" do %>
  <span class="glyphicon glyphicon-save"></span>
  <% end %>
<% end %>

<%= javascript_tag do %>
  $(document).on("succeed.ajaxForm", "#edit_box_<%= @box.id %>", function() {
    location.href="<% box_path(@box) %>";
  });
<% end %>
