<tr>
  <td><%= check_box_tag("ids[]", analysis.id, checked, id: "ids_#{analysis.id}", class: "select-row") if can?(:update, analysis) %></td>
  <td><%= link_to list_title(analysis),analysis %></td>
  <td><%= analysis.device.try!(:name) %></td>
  <td><%= link_to analysis.specimen.name,analysis.specimen, class: specimen_ghost(analysis.specimen) if analysis.specimen %></td>
  <td><%= raw(analysis.chemistry_summary) %></td>
  <%= td_if_expand analysis.user.try!(:username) %>
  <td><%= analysis.group.try!(:name) %></td>
  <%= td_if_expand difference_from_now(analysis.published_at) %>
  <td><%= difference_from_now(analysis.updated_at) %></td>
  <%= td_if_expand difference_from_now(analysis.created_at) %>
</tr>
