<tr>
  <td><%= check_box_tag("ids[]", analysis.id, checked, id: "ids_#{analysis.id}", class: "select-row") if can?(:update, analysis) %></td>
  <td><%= link_to analysis.name,analysis %></td>
  <td><%= analysis.device.try!(:name) %></td>
  <td><%= analysis.stone.try!(:name) %></td>
  <td><%= raw(analysis.chemistry_summary) %></td>
  <td><%= analysis.user.try!(:username) %></td>
  <td><%= analysis.group.try!(:name) %></td>
  <td><%= difference_from_now(analysis.published_at) %></td>
  <td><%= difference_from_now(analysis.updated_at) %></td>
  <td><%= difference_from_now(analysis.created_at) %></td>
</tr>
