<tr>
<td>
  <%= check_box_tag("ids[]", attachment_file.id, checked: false, id: "ids_#{attachment_file.id}", class: "select-row") if can?(:update, attachment_file) %>
</td>
<td><%= attachment_file.decorate.picture(width: 70, height: 70, type: :thumb) %></td>
<td><%= link_to_if can?(:read, attachment_file), list_title(attachment_file),attachment_file %></td>
<td>
  <% if attachment_file.pdf? %>
    <%= link_to(image_tag("icon_pdf_1.png", size: "24x24"), download_attachment_file_path(attachment_file.id), id: "file-#{attachment_file.id}-button") %>
  <% end %>
</td>
<td><%= attachment_file.spots.try!(:size) %></td>
<td><%= attachment_file.try!(:global_id) %></td> 
<td>
  <% if attaching %>
  <%= link_to move_to_top_attaching_path(attaching) + tab_param(__FILE__), method: :move_to_top ,title: "move to top" do %>
    <span class="glyphicon glyphicon-arrow-up"></span>
  <% end %>
  <% end %>
</td>
<td>
<% if attaching %>
  <%= link_to  analysis_attachment_file_path(@analysis,attachment_file) + tab_param(__FILE__), method: :delete ,title: "unlink attachment file",data: {confirm: t("confirm.unlink")} do %>
    <span class="glyphicon glyphicon-remove"></span>
  <% end %>
<% end %>
</td>
</tr>
