<% if @analyses.present? %>
  <% analysis_ids = @analyses.pluck(:id) %>
  <div class="text-right">
1 in <%= link_to 'table',table_analyses_path(ids: analysis_ids)  %>
 and <%= link_to 'casteml',castemls_analyses_path(ids: analysis_ids)  %>
  </div>
<% end %>
<%= form_for Analysis.new, url: bundle_update_analyses_path do |f| %>
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th></th>
      <th>name</th>
      <th>device</th>
      <th>stone</th>
      <th>summary</th>
      <th>owner</th>
      <th>group</th>
      <th>published</th>
      <th>updated_at</th>
      <th>created_at</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: :analysis, collection: @analyses, locals: { checked: true } %>
  </tbody>
  <tfoot>
    <tr>
      <th><%= check_box_tag nil, nil, true, class: "select-row-all" %></th>
      <th></th>
      <th><%= f.select :device_id, Device.pluck(:name, :id), include_blank: true %></th>
      <th><%= f.select :stone_id, Stone.pluck(:name, :id), include_blank: true %></th>
      <th></th>
      <th><%= f.select :user_id ,User.pluck(:username, :id), include_blank: true %></th>
      <th><%= f.select :group_id ,Group.pluck(:name, :id), include_blank: true %></th>
      <th>
        <%= f.button class: "btn btn-default" do %>
          <span class="glyphicon glyphicon-save"></span>
        <% end %>
      </th>
      <th></th>
      <th></th>
    </tr>
  </tfoot>
</table>
<% end %>
