<%= form_with model:@analysis, local: false, format: :json, html: { id: "edit_analysis_#{@analysis.id}", class: "update", role: "form" } do |f| %>
  <div class="form-group form-group-sm">
    <%= f.label :name, class: "small" %>
    <%= f.text_field :name, class: "form-control input-sm" %>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :sample, class: "small" %>
    <%= f.text_field :specimen_global_id, class: "form-control input-sm" %>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :device, class: "small" %>
    <%= f.select :device_id, Device.pluck(:name, :id), { include_blank: true }, class: "form-control input-sm" %>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :technique, class: "small" %>
    <%= f.select :technique_id, Technique.pluck(:name, :id), { include_blank: true }, class: "form-control input-sm" %>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :operator ,class: "small" %>
    <%= f.text_field :operator, class: "form-control input-sm" %>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :description, class: "small" %>
    <%= f.text_area :description, class: "form-control input-sm", row: 3 %>
  </div>
  <%= f.button class: "btn btn-default" do %>
  <span class="far fa-save"></span>
  <% end %>
<% end %>

<%= javascript_tag do %>
  $(document).on("succeed.ajaxForm", "#edit_analysis_<%= @analysis.id %>", function() {
    location.href="<% analysis_path(@analysis) %>";
  });
<% end %>
