<% content_for :modal_title do %>
  <%= link_to @analysis.name_with_id, @analsys %>
  <% if @analysis.specimen %>
  on <%= link_to list_title(@analysis.specimen), @analysis.specimen %>
  <% end %>
  <% if @analysis.technique %>
  determined by <%= @analysis.technique.name %>
  <% end %>
  <% if @analysis.device %>
  with <%= @analysis.device.name %>
  <% end %>
<% end %>

<% if @analysis.primary_picture %>
<div class="row">
  <div class="col-lg-12">
    <%= @analysis.primary_picture %>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col-lg-12">
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>measured</th>
      <th>value</th>
      <th>uncertainty</th>
      <th>unit</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @analysis.chemistries.each do |chemistry| %>
      <tr>
        <td><%= link_to raw(chemistry.measurement_item.display_name),edit_chemistry_path(chemistry) %></td>
        <td><%= chemistry.value %></td>
        <td><%= chemistry.uncertainty %></td>
        <td><%== chemistry.unit.try!(:html) %></td>
        <td>
          <%= link_to analysis_chemistry_path(@analysis,chemistry), method: :delete ,title: "delete chemistory",data: {confirm: t("confirm.delete",:recordname => chemistry.measurement_item.nickname)} do %>
              <span class="fas fa-times"></span>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>

<% unless @analysis.tables.empty? %>
<div class="row">
  <div class="col-lg-12">
    tables:
      <ul>
        <% @analysis.tables.each do |table| %>
          <li>
            <%= link_to(table.caption, table_path(table)) %> of <%== table.bib.to_html %>
            <%= link_to_if can?(:read, table.bib), "more", table.bib %>
            <% if table.bib.primary_pdf_attachment_file %>
              <%= link_to_if(can?(:read, table.bib.primary_pdf_attachment_file), image_tag("icon_pdf_1.png", size: "24x24"), download_attachment_file_path(table.bib.primary_pdf_attachment_file)) %>
            <% end %>            
            </li>
        <% end %>
      </ul>
  </div>
</div>
<% end %>

<% unless @analysis.bibs.empty? %>
  <div class="row">
    <div class="col-lg-12">
      references:
        <ul>
        <% BibDecorator.decorate_collection(@analysis.bibs).each do |bib| %>
          <li>
            <%== bib.to_html %>
            <%= link_to_if can?(:read, bib), "more", bib %>
            <% if bib.primary_pdf_attachment_file %>
              <%= link_to_if(can?(:read, bib.primary_pdf_attachment_file), image_tag("icon_pdf_1.png", size: "24x24"), download_attachment_file_path(bib.primary_pdf_attachment_file)) %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>