<div class="row">
  <div id="show-caption" class="col-lg-12">
    <%= @analysis.name_with_id %>
  </div>
</div>
<div class="row">
  <div id="show-tools" class="col-lg-4">
    <div class="row btn-toolbar tool-selector" role="toolbar">
      <div class="btn-group btn-group-sm">
        <% if @analysis.has_image? %>
          <%= link_to picture_analysis_path(@analysis), class: "btn btn-default  activate", remote: true do %>
            <span class="glyphicon glyphicon-picture"></span>
          <% end %>
        <% end %>
      </div>
      <div class="btn-group btn-group-sm">
        <%= link_to edit_analysis_path(@analysis), class: "btn btn-default", remote: true do %>
          <span class="glyphicon glyphicon-pencil"></span>
        <% end %>
        <%= link_to property_analysis_path(@analysis), class: "btn btn-default", remote: true do %>
          <span class="glyphicon glyphicon-cog"></span>
        <% end %>
      </div>
    </div>
    <img>
    <div class="row tool-content">
    </div>
  </div>
  <div id="show-body" class="col-lg-8">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li><a href="#at-a-glance" data-toggle="tab">At a glance</a></li>
      <li><a href="#bib" data-toggle="tab">Bib <%= data_count(@analysis.bibs) %></a></li>
      <li><a href="#file" data-toggle="tab">File <%= data_count(@analysis.attachment_files) %></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="at-a-glance"><%= render partial: "at_a_glance" %></div>
      <div class="tab-pane" id="bib"><%= render partial: "bib" %></div>
      <div class="tab-pane" id="file"><%= render partial: "attachment_file" %></div>
    </div>
  </div>
</div>
