<div>
  <% @fmt_str = params[:fmt_str].presence||"%.2f" %>
  <%= form_tag(table_analyses_path,method: :get) do %>
    measurement_category: <%= select_tag :measurement_category_id, options_for_select(MeasurementCategory.pluck(:name,:id),params[:measurement_category_id]),include_blank: true %>
    unit: <%= select_tag :unit_id,options_for_select(Unit.all.map{|r|[raw(r.html),r.id]},params[:unit_id]), include_blank: true %>
    type: <%= select_tag :table_type,options_for_select([['HTML','html'],['LaTeX','latex']],params[:table_type])%>
    format: <%= text_field_tag :fmt_str, @fmt_str, size: 5 %>
    <% @analyses.each do |analysis| %>
      <%= hidden_field_tag "ids[]",analysis.id %>
    <% end %>
    <%= submit_tag 'reload' %>
  <% end %>
  <% if params[:table_type] == 'latex' %>
    <%= render :partial => 'table_latex' %>
  <% else %>
    <%= render :partial => 'table_html' %>
  <% end %>
</div>
