<%= paginate @records %>
<table class="table table-condensed table-striped">
  <thead>
    <%= search_form_for @records_search, url: records_path do |f| %>
    <tr>
      <th>
        <%= f.button class: "btn btn-default" do %>
        <span class="glyphicon glyphicon-refresh"></span>
        <% end %>
      </th>
      <th></th>
      <th><%= sort_link @records_search, :name, "name" %></th>
      <th><%= sort_link @records_search, :global_id, "global-id" %></th>
      <th><%= sort_link @records_search, :user_username, "owner" %></th>
      <th><%= sort_link @records_search, :group_name, "group" %></th>
      <th><%= sort_link @records_search, :updated_at, "updated-at" %></th>
      <th><%= sort_link @records_search, :created_at, "created-at" %></th>
    </tr>
    <tr>
      <th><%= text_field_tag :per_page, (params[:per_page] || RecordProperty.default_per_page), class: "form-control input-sm", size: 4 %></th>
      <th></th>
      <th><%= f.text_field :name_cont, class: "form-control input-sm", size: 15 %></th>
      <th><%= f.text_field :global_id_cont, class: "form-control input-sm", size: 15 %></th>
      <th><%= f.text_field :user_username_cont, class: "form-control input-sm", size: 15 %></th>
      <th><%= f.text_field :group_name_cont, class: "form-control input-sm", size: 15 %></th>
      <th>
        <%= f.text_field :updated_at_gteq, placeholder: "from:", value: format_date(params[:q] && params[:q][:updated_at_gteq]), class: "form-control input-sm datepicker", size: 10 %>
      </th>
      <th>
        <%= f.text_field :created_at_gteq, placeholder: "from:", value: format_date(params[:q] && params[:q][:created_at_gteq]), class: "form-control input-sm datepicker", size: 10 %>
      </th>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th>
        <%= f.text_field :updated_at_lteq_end_of_day, placeholder: "to:", value: format_date(params[:q] && params[:q][:updated_at_lteq_end_of_day]), class: "form-control input-sm datepicker", size: 10 %>
      </th>
      <th>
        <%= f.text_field :created_at_lteq_end_of_day, placeholder: "to:", value: format_date(params[:q] && params[:q][:created_at_lteq_end_of_day]), class: "form-control input-sm datepicker", size: 10 %>
      </th>
    </tr>
    <% end %>
  </thead>
  <tbody>
    <% @records.each do |record| %>
    <% object = record.datum %>
    <% object = object.decorate if object.respond_to?(:decorate) %>
    <tr>
      <td></td>
      <td><%= record.datum.decorate.status_icon if record.datum.class == Specimen %></td>
      <td><%= link_to list_title(object), object, class: specimen_ghost(object) %></td>
      <td><%= record.global_id %></td>
      <td><%= record.user.try!(:username) %></td>
      <td><%= record.group.try!(:name) %></td>
      <td><%= difference_from_now(record.updated_at) %></td>
      <td><%= difference_from_now(record.created_at) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
