<tr>
  <td><%= check_box_tag("ids[]", attachment_file.id, checked, id: "ids_#{attachment_file.id}", class: "select-row") if can?(:update, attachment_file) %></td>
  <td><%= image_tag(attachment_file.thumbnail_path, width: 70, height: 70) %></td>
  <td><%= link_to attachment_file.data_file_name, attachment_file %></td>
  <td><%= attachment_file.data_content_type %></td>
  <td><%= attachment_file.data_file_size %></td>
  <%= td_if_expand attachment_file.user.try!(:username) %>
  <td><%= attachment_file.group.try!(:name) %></td>
  <%= td_if_expand difference_from_now(attachment_file.published_at) %>
  <td><%= difference_from_now(attachment_file.updated_at) %></td>
  <%= td_if_expand difference_from_now(attachment_file.created_at) %>
</tr>
