<%= form_for attachment_file, remote: false, format: :html, html: { class: "create"} do |f| %>
<tr>
  <th></th>
  <th></th>
  <th><%= f.file_field :data %></th>
  <th>></th>
  <th></th>
  <%= f.fields_for :record_property_attributes do |r| %>
  <th><%= @current_user.username %><%= r.hidden_field :user_id ,value: @current_user.id %></th>
  <th><%= r.select :group_id ,Group.pluck(:name, :id),include_blank: true %></th>
  <% end %>
  <th>
    <%= f.button class: "btn btn-default" do %>
    <span class="glyphicon glyphicon-save"></span>
    <% end %>
  </th>
  <th>
    <%= hidden_field_tag :page,params[:page]||"1" %>
  </th>
</tr>
<% end %>

