<table class="table table-condensed table-striped">
<thead>
<tr>
  <th>name</th>
  <th>coordinate</th>
  <th>image</th>
  <th>link</th>
</tr>
</thead>
<tbody>
<% @attachment_file.surface_spots_within_bounds_converted.each do |spot| %>
  <% spot = spot.decorate %>
  <tr>
    <td><%= spot.icon %> <%= link_to(spot.name, spot_path(spot)) %></td>
    <td><%= sprintf("(%.2f, %.2f)", spot.world_x, spot.world_y) %><%= sprintf("(%.2f, %.2f)", spot.spot_x, spot.spot_y) %></td>
    <td>
      <% if spot.attachment_file %>
        <%= link_to(spot.attachment_file.name, attachment_file_path(spot.attachment_file)) %>
<% end %>
    </td>
    <td>
      <%= spot.target_link %>
    </td>
  </tr>
<% end %>
</tbody>
</table>