<%= paginate @attachment_files %>
<table>
  <thead>
    <%= search_form_for @search do |f| %>
    <tr>
      <th>
        <%= f.button class: "btn btn-default" do %>
        <span class="glyphicon glyphicon-refresh"></span>
        <% end %>
      </th>
      <th></th>
      <th><%= sort_link @search, :data_file_name, "name" %></th>
      <th><%= sort_link @search, :data_content_type, "type" %></th>
      <th><%= sort_link @search, :data_file_size, "size" %></th>
      <th><%= sort_link @search, :user_username, "owner" %></th>
      <th><%= sort_link @search, :group_name, "group" %></th>
      <th><%= sort_link @search, :record_property_published_at, "published" %></th>
      <th><%= sort_link @search, :updated_at, "updated_at" %></th>
      <th><%= sort_link @search, :created_at, "created_at" %></th>
    </tr>
    <tr>
      <th><%= text_field_tag :per_page, (params[:per_page] || AttachmentFile.default_per_page), size: 4 %></th>
      <th></th>
      <th><%= f.text_field :data_file_name_cont %></th>
      <th><%= f.text_field :data_content_type_cont %></th>
      <th></th>
      <th><%= f.text_field :user_username_cont %></th>
      <th><%= f.text_field :group_name_cont %></th>
      <th><%= f.select :record_property_published_eq, [true, false], include_blank: true %></th>
      <th>
        <%= f.text_field :updated_at_gteq, class: 'datepicker', placeholder: "from:", value: format_date(params[:q] && params[:q][:updated_at_gteq]) %>
      </th>
      <th>
        <%= f.text_field :created_at_gteq, class: 'datepicker', placeholder: "from:", value: format_date(params[:q] && params[:q][:created_at_gteq]) %>
      </th>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th>
        <%= f.text_field :updated_at_lteq_end_of_day, class: 'datepicker', placeholder: "to:", value: format_date(params[:q] && params[:q][:updated_at_lteq_end_of_day]) %>
      </th>
      <th>
        <%= f.text_field :created_at_lteq_end_of_day, class: 'datepicker', placeholder: "to:", value: format_date(params[:q] && params[:q][:created_at_lteq_end_of_day]) %>
      </th>
    </tr>
    <% end %>
  </thead>
  <tbody>
    <% @attachment_files.each do |attachment_file| %>
    <tr>
      <td></td>
      <td><%= image_tag(attachment_file.path,width: 70,hight: 70) %></td>
      <td><%= link_to attachment_file.data_file_name, attachment_file %></td>
      <td><%= attachment_file.data_content_type %></td>
      <td><%= attachment_file.data_file_size %></td>
      <td><%= attachment_file.user.try!(:username) %></td>
      <td><%= attachment_file.group.try!(:name) %></td>
      <td><%= attachment_file.published ? difference_from_now(attachment_file.published_at) : "" %></td>
      <td><%= difference_from_now(attachment_file.updated_at) %></td>
      <td><%= difference_from_now(attachment_file.created_at) %></td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <%= render partial: "new", locals: { attachment_file: AttachmentFile.new } %>
  </tfoot>
</table>

