<%= paginate @attachment_files %>
<table class="table table-condensed table-striped">
  <thead>
    <%= search_form_for @search do |f| %>
    <tr>
      <th>
        <%= f.button class: "btn btn-default" do %>
        <span class="glyphicon glyphicon-refresh"></span>
        <% end %>
      </th>
      <th><%= sort_link @search, :data_file_name, "name" %></th>
      <th><%= sort_link @search, :data_content_type, "type" %></th>
      <th><%= sort_link @search, :data_file_size, "size" %></th>
      <th>affine matrix</th>
      <%= th_if_expand do %>
        <%= sort_link @search, :user_username, "owner" %>
      <% end %>
      <th><%= sort_link @search, :group_name, "group" %></th>
      <%= th_if_expand do %>
        <%= sort_link @search, :record_property_published_at, "published" %>
      <% end %>
      <th><%= sort_link @search, :updated_at, "updated-at" %></th>
      <%= th_if_expand do %>
        <%= sort_link @search, :created_at, "created-at" %>
      <% end %>
      <th><%= toggle_column_link %></th>
    </tr>
    <tr>
      <th><%= text_field_tag :per_page, (params[:per_page] || AttachmentFile.default_per_page), class: "form-control input-sm", size: 4 %></th>
      <th><%= f.text_field :data_file_name_cont, class: "form-control input-sm", size: 15 %></th>
      <th><%= f.text_field :data_content_type_cont, class: "form-control input-sm", size: 10 %></th>
      <th></th>
      <th></th>
      <%= th_if_expand do %>
        <%= f.text_field :user_username_cont, class: "form-control input-sm", size: 15 %>
      <% end %>
      <th><%= f.text_field :group_name_cont, class: "form-control input-sm", size: 15 %></th>
      <%= th_if_expand do %>
        <%= f.select :record_property_published_eq, [true, false], { include_blank: true }, class: "form-control input-sm" %>
      <% end %>
      <th>
        <%= f.text_field :updated_at_gteq, placeholder: "from:", value: format_date(params[:q] && params[:q][:updated_at_gteq]), class: "form-control input-sm datepicker", size: 10 %>
      </th>
      <%= th_if_expand do %>
        <%= f.text_field :created_at_gteq, placeholder: "from:", value: format_date(params[:q] && params[:q][:created_at_gteq]), class: "form-control input-sm datepicker", size: 10 %>
      <% end %>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <%= th_if_expand nil %>
      <th></th>
      <%= th_if_expand nil %>
      <th>
        <%= f.text_field :updated_at_lteq_end_of_day, placeholder: "to:", value: format_date(params[:q] && params[:q][:updated_at_lteq_end_of_day]), class: "form-control input-sm datepicker", size: 10 %>
      </th>
      <%= th_if_expand do %>
        <%= f.text_field :created_at_lteq_end_of_day, placeholder: "to:", value: format_date(params[:q] && params[:q][:created_at_lteq_end_of_day]), class: "form-control input-sm datepicker", size: 10 %>
      <% end %>
    </tr>
    <% end %>
  </thead>
  <tbody>
    <%= form_tag bundle_edit_attachment_files_path, id: "bundle-form" do %>
    <%= render partial: :attachment_file, collection: @attachment_files, locals: { checked: false } %>
    <% end %>
  </tbody>
  <tfoot>
    <%= render partial: "new", locals: { attachment_file: AttachmentFile.new } %>
  </tfoot>
</table>
<%= link_to_function content_tag(:span, nil, class: "glyphicon glyphicon-pencil"), "$('#bundle-form').submit();", class: "btn btn-default" %>
<%= mantra "To create new, specify a file with browse button, fill fields and press save button.  To attach coordinates to image, prepare'.jpg' and'.geo' files and use 'orochi-upload'.  To edit, choose record with checkbox and press pencil button.", :title => "All attachment files" %> 
