<div class="row">
  <div id="show-caption" class="col-lg-12">
    <%= @attachment_file.name_with_id %>
  </div>
</div>
<div class="row">
  <div id="show-tools" class="col-lg-4">
    <div class="row btn-toolbar tool-selector" role="toolbar">
      <div class="btn-group btn-group-sm">
        <%= link_to picture_attachment_file_path(@attachment_file), class: "btn btn-default activate", remote: true do %>
          <span class="glyphicon glyphicon-globe"></span>
        <% end %>
      </div>
      <div class="btn-group btn-group-sm">
        <%= link_to edit_attachment_file_path(@attachment_file), class: "btn btn-default", remote: true do %>
          <span class="glyphicon glyphicon-pencil"></span>
        <% end %>
        <%= link_to property_attachment_file_path(@attachment_file), class: "btn btn-default", remote: true do %>
          <span class="glyphicon glyphicon-cog"></span>
        <% end %>
      </div>
      <div class="btn-group btn-group-sm">
        <%= link_to @attachment_file.path, class: "btn btn-default " do %>
          <span class="glyphicon glyphicon-picture"></span>
        <% end %>
        <%= link_to download_attachment_file_path(@attachment_file), class: "btn btn-default" do %>
          <span class="glyphicon glyphicon-file"></span>
        <% end %>
      </div>
    </div>
    <img>
    <div class="row tool-content">
    </div>
  </div>
  <div id="show-body" class="col-lg-8">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li><a href="#at-a-glance" data-toggle="tab">at a glance</a></li>
      <li><a href="#stone" data-toggle="tab"><%= @attachment_file.stones.blank? ? "stone" : "stone (#{@attachment_file.stones.count})" %></a></li>
      <li><a href="#box" data-toggle="tab"><%= @attachment_file.boxes.blank? ? "box" : "box (#{@attachment_file.boxes.count})" %></a></li>
      <li><a href="#place" data-toggle="tab"><%= @attachment_file.places.blank? ? "place" : "place (#{@attachment_file.places.count})" %></a></li>
      <li><a href="#analysis" data-toggle="tab"><%= @attachment_file.analyses.blank? ? "analysis" : "analysis (#{@attachment_file.analyses.count})" %></a></li>
      <li><a href="#bib" data-toggle="tab"><%= @attachment_file.bibs.blank? ? "bib" : "bib (#{@attachment_file.bibs.count})" %></a></li>
      <li><a href="#spot" data-toggle="tab"><%= @attachment_file.spots.blank? ? "spot" : "spot (#{@attachment_file.spots.count})" %></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="at-a-glance"><%= render partial: "at_a_glance" %></div>
      <div class="tab-pane" id="stone"><%= render partial: "stone" %></div>
      <div class="tab-pane" id="box"><%= render partial: "box" %></div>
      <div class="tab-pane" id="analysis"><%= render partial: "analysis" %></div>
      <div class="tab-pane" id="place"><%= render partial: "place" %></div>
      <div class="tab-pane" id="bib"><%= render partial: "bib" %></div>
      <div class="tab-pane" id="spot"><%= render partial: "spot" %></div>
    </div>
  </div>
</div>
