<p>
This admin page configures default view on search. A new user will start with this configuration.
Configure current view on search from <%= link_to("here", search_columns_path) %>.
</p>

<%= form_tag master_update_order_search_columns_path, remote: true, format: :json, class: "update", id: "update_display_search_columns" do %>
  <%= render partial: "index_form" %>
<% end %>
<%= javascript_tag do %>
  $(document).on("succeed.ajaxForm", "#update_display_search_columns", function() {
    window.location.href = '<%= master_index_search_columns_path %>'
  });
<% end %>
