<div class="display-type">
  <div id="display-type-html">
	<div class="surface-viewer">
    <%= hidden_field_tag nil, @image.global_id, class: "target-uid" %>
	  <%= content_tag :svg, nil, class: "surface-canvas", width: 600, height: 600, "data-image" => surface_image_path(@surface, @image, format: :svg) if @image %>
	</div>
  <%= rplot_iframe @surface %>
  </div>
  <div class="hidden" id="display-type-tex">
    <pre><code><%= @surface_image.to_tex %></code></pre>
  </div>
</div>
<div class="btn-group">
  <a href="#display-type-html" class="btn radio-button-group">html</a>
  <a href="#display-type-tex" class="btn radio-button-group">tex</a>
</div> 
<%= link_to "image", attachment_file_path(@image) %>
<%= link_to download_attachment_file_path(@image), class: "btn btn-default" do %>
    <span class="glyphicon glyphicon-file"></span>
<% end %>
