<ul class="list-unstyled list-inline">
  <% 1.upto(6) do |zoom|%>
    <li>
      <div>
      <%= @surface_image.decorate.tile_carousel(zoom) %>
        zoom level: <%= zoom %>
      </div>
    </li>
  <% end %>
</ul>

<%#= @surface_image.decorate.tile_carousel(5) %>
<%#= @surface_image.decorate.tile_carousel(6) %>
<%= javascript_tag do %>

$('.carousel').on('slid.bs.carousel', function (e) {
  var url = $(this).find('.item.active').data('url');
  var element = $(this).find('.item.active');
  var img = new Image();
  img.onload = function(){
    if ($('img', $(element)).length === 0){
      $(element).append(img);
    }
    $('img', $(element)).attr('src', url);
  }
  img.onerror = function(){
    $(element).append("<div class='alert alert-info'><small>failed to load " + url + "</small></alert>");
  }
  img.src = url;
});

$('[data-slide-number=0]').each(function(index, element){
  var url = $(element).data('url');
  var img = new Image();
  img.onload = function(){
    if ($('img', $(element)).length === 0){
      $(element).append(img);
    }
    $('img', $(element)).attr('src', url);  
  };
  img.onerror = function(){
    $(element).append("<div class='alert alert-info'><small>failed to load " + url + "</small></alert>");
  };
  img.src = url;
  

});
<% end %>

<div class="btn-group">
  <a href="#display-type-plot" class="btn radio-button-group">data</a>
  <a href="#display-type-tex" class="btn radio-button-group">tex</a>
  <%= link_to('place', @surface_image.surface.rmap_url, class: "btn radio-button-group", :title => "place online", :target => ["_blank"]) %>
</div> 
<div class="display-type">
  <div id="display-type-plot">
 <%= rplot_iframe @surface %>
  </div>
  <div class="hidden" id="display-type-tex">
    <pre><code><%= @surface_image.to_tex %></code></pre>
  </div>
</div>
