<p>The table is created from analysis shown below. The assembly <%= link_to @table.measurement_category.try!(:name), edit_measurement_category_path(@table.measurement_category) if @table.measurement_category %> filters out analysis. Upper analysis has priority.To list more analysis, add a <%= @alias_specimen %> in <%= @alias_specimen %> sub-tab.</p>
<%= form_for @table, remote: true, format: :json, html: { class: "update", role: "form" } do |f| %>
  <ul>
    <li class="row list-unstyled">
      <div class="col-lg-6">name <span class="glyphicon glyphicon-sort"></span></div>
      <div class="col-lg-3">technique</div>
      <div class="col-lg-3">device</div>
    </li>
  </ul>
  <% @table.table_specimens.each do |table_specimen| %>
    <b><%= table_specimen.specimen.name %></b>
    <ul class="table-analyses">
      <% @table.table_analyses.where(specimen_id: table_specimen.specimen_id).includes(analysis: [:technique, :device]).each do |table_analysis| %>
        <% next unless table_analysis.analysis %>
	<li class="row list-unstyled">
	  <div class="col-lg-6">
	    <%= f.fields_for :table_analyses, table_analysis do |g| %>
	      <%= list_title(g.object.analysis) %> on <%= list_title(g.object.analysis.specimen) %>
	      <%= g.hidden_field :priority, class: "priority" %>
	    <% end %>
	  </div>
	  <div class="col-lg-3">
	    <%= table_analysis.analysis.technique.try!(:name) %>
	  </div>
	  <div class="col-lg-3">
	    <%= table_analysis.analysis.device.try!(:name) %>
	  </div>
	</li>
      <% end %>
    </ul>
  <% end %>
  <div class="pull-right">
    <%= f.button class: "btn btn-default" do %>
      <span class="glyphicon glyphicon-save"></span>
    <% end %>
  </div>
<% end %>

<%= javascript_tag do %>
(function($) {
  $("ul.table-analyses").sortable({
    placeholder: "ui-state-highlight list-unstyled",
    forcePlaceholderSize: true,
    update: function(event, ui) {
      $(this).find("li").each(function(index, element) {
        $(this).find("input.priority").val(index + 1);
      });
    }
  });
})(jQuery);
<% end %>
