<p>The table is created from analysis shown below. The rowname <%= link_to @table.measurement_category.try!(:name), edit_measurement_category_path(@table.measurement_category) if @table.measurement_category %> filters out analysis. Upper analysis has priority.To list more analysis, add a <%= @alias_specimen %> in <%= @alias_specimen %> sub-tab.</p>
<%= form_with model:@table, local: false, format: :json, html: { id: "edit_table_#{@table.id}", class: "update", role: "form" } do |f| %>
  <ul>
    <li class="row list-unstyled">
      <div class="col-lg-5">name <span class="glyphicon glyphicon-sort"></span></div>
      <div class="col-lg-3">technique</div>
      <div class="col-lg-3">device</div>
      <div class="col-lg-1">priority</div>
    </li>
  </ul>
  <% @table.table_specimens.each do |table_specimen| %>
    <b><%= link_to table_specimen.specimen.name, specimen_path(table_specimen.specimen) %></b>
    <ul class="table-analyses">
      <% @table.table_analyses.where(specimen_id: table_specimen.specimen_id).includes(analysis: [:technique, :device]).each_with_index do |table_analysis, idx| %>
        <% next unless table_analysis.analysis %>
	<li class="row list-unstyled">
    <div class="col-lg-5">
      <%= link_to table_analysis_path(@table, table_analysis) + tab_param(__FILE__), method: :delete ,title: "unlink analysis",data: {confirm: t("confirm.unlink")} do %>
        <span class="glyphicon glyphicon-remove"></span>
      <% end %>
    <%= f.fields_for :table_analyses, table_analysis do |g| %>
	      <%= link_to(list_title(g.object.analysis), analysis_path(table_analysis.analysis)) %> <%= link_to_if(can?(:read, table_analysis.analysis), content_tag(:span, table_analysis.analysis.chemistries.size, class:"badge"), analysis_path(table_analysis.analysis, format: :modal), "data-toggle" => "modal", "data-target" => "#show-modal") %>
        on <%= link_to list_title(g.object.analysis.specimen), specimen_path(table_analysis.analysis.specimen) %>
	      <%= g.hidden_field :priority, class: "priority" %>
	    <% end %>
    </div>
	  <div class="col-lg-3">
	    <%= table_analysis.analysis.technique.try!(:name) %>
	  </div>
	  <div class="col-lg-3">
	    <%= table_analysis.analysis.device.try!(:name) %>
	  </div>
	  <div class="col-lg-1">
      <%= table_analysis.priority %>
    </div>
  </li>
      <% end %>
    </ul>
  <% end %>

  <% (@table.table_analyses.pluck(:specimen_id).uniq - @table.specimens_hash.keys).each do |specimen_id| %>
  <b><%= link_to Specimen.find(specimen_id).name, specimen_path(specimen_id) %> does not refer to</b> 
    <ul class="table-analyses">
      <% @table.table_analyses.where(specimen_id: specimen_id).includes(analysis: [:technique, :device]).each_with_index do |table_analysis, idx| %>
        <% next unless table_analysis.analysis %>
        <li class="row list-unstyled">
          <div class="col-lg-5">
            <%= link_to table_analysis_path(@table, table_analysis) + tab_param(__FILE__), method: :delete ,title: "unlink analysis",data: {confirm: t("confirm.unlink")} do %>
              <span class="glyphicon glyphicon-remove"></span>
            <% end %>
            <%= f.fields_for :table_analyses, table_analysis do |g| %>
            <%= link_to list_title(g.object.analysis), analysis_path(table_analysis.analysis) %> <%= link_to_if(can?(:read, table_analysis.analysis), content_tag(:span, table_analysis.analysis.chemistries.size, class:"badge"), analysis_path(table_analysis.analysis, format: :modal), "data-toggle" => "modal", "data-target" => "#show-modal") %>
              <%= g.hidden_field :priority, class: "priority" %>
            <% end %>
          </div>
          <div class="col-lg-3">
            <%= table_analysis.analysis.technique.try!(:name) %>
          </div>
          <div class="col-lg-3">
            <%= table_analysis.analysis.device.try!(:name) %>
          </div>
          <div class="col-lg-1">
            <%= table_analysis.priority %>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>
  <div class="pull-right">
    <%= f.button class: "btn btn-default" do %>
      <span class="glyphicon glyphicon-save"></span>
    <% end %>
  </div>
<% end %>

<%= javascript_tag do %>
(function($) {
  $("ul.table-analyses").sortable({
    placeholder: "ui-state-highlight list-unstyled",
    forcePlaceholderSize: true,
    update: function(event, ui) {
      $(this).find("li").each(function(index, element) {
        $(this).find("input.priority").val(index + 1);
      });
    }
  });
})(jQuery);
<% end %>
