<%= form_for @table, remote: true, format: :json, html: { class: "update", role: "form" } do |f| %>
  <table class="table table-condensed table-striped">
    <ul>
      <%= li_if_exist 'measurement category: ', @table.measurement_category.try!(:name) %>
      <li>modified at <%= difference_from_now(@table.updated_at) -%></li>
      <% if @table.bib %>
	<li>bib: <%= link_to_if can?(:read, @table.bib), @table.bib.name,bib_path(@table.bib) %></li>
      <% end %>
    </ul>
    <caption>
      <%= @table.description %>
    </caption>
    <thead>
      <tr class="specimens">
	<th>measured</th>
	<th>unit</th>
	<% @table.table_stones.includes(:stone).each do |table_stone| %>
	  <th class="sortable">
	    <%= f.fields_for :table_stones, table_stone do |g| %>
	      <span class="glyphicon glyphicon-transfer"></span> <%= g.object.stone.name %>
	      <%= g.hidden_field :position, class: "position" %>
	    <% end %>
	  </th>
	<% end %>
	<% if @table.with_average %>
	  <th>avg(std)</th>
	<% end %>
      </tr>
    </thead>
    <tbody>
      <% if @table.with_place %>
	<tr>
	  <th>latitude</th>
	  <th></th>
	  <% @table.stones.each do |stone| %>
	    <td><%= stone.place.try!(:latitude) || "-" %></td>
	  <% end %>
	  <% if @table.with_average %>
	    <td>-</td>
	  <% end %>
	</tr>
	<tr>
	  <th>longitude</th>
	  <th></th>
	  <% @table.stones.each do |stone| %>
	    <td><%= stone.place.try!(:longitude) || "-" %></td>
	  <% end %>
	  <% if @table.with_average %>
	    <td>-</td>
	  <% end %>
	</tr>
      <% end %>
      <% @table.each(display: :html) do |chemical_species, chemistries| %>
	<tr>
	  <th><%== chemical_species.caption(:html) %></th>
	  <th><%== chemical_species.unit.try!(:html) %></th>
	  <% values = [] %>
	  <% @table.stones.each do |stone| %>
	    <% values << chemistries[stone.id].try!(:unit_conversion_value, chemical_species.unit.name) %>
	    <td><%= chemistries[stone.id].try!(:unit_conversion_value, chemical_species.unit.name, chemical_species.scale) || "-" %></td>
	  <% end %>
	  <% if @table.with_average %>
	    <% values.compact! %>
	    <td><%= values.blank? ? "-" : "#{(values.sum / values.size).round(chemical_species.scale)} (#{standard_diviation(values, chemical_species.scale)})" %></td>
	  <% end %>
	</tr>
      <% end %>
    </tbody>
  </table>
  <% @table.method_descriptions.each do |sign, description| %>
    <div class="row">
      <%= "#{sign}: #{description}" %>
    </div>
  <% end %>
  <div class="pull-right">
    <%= f.button class: "btn btn-default" do %>
      <span class="glyphicon glyphicon-save"></span>
    <% end %>
  </div>
<% end %>

<%= javascript_tag do %>
(function($) {
  var src;
  $("tr.specimens").sortable({
    items: "th.sortable",
    placeholder: "ui-state-highlight",
    start: function(event, ui) {
      src = ui.item.index();
    },
    update: function(event, ui) {
      var dst = ui.item.index();
      $(this).closest("table").find("tbody").find("tr").each(function(_, tr) {
        var td = $(tr).children()[src];
        $(td).detach();
        $(td).insertBefore($(tr).children()[dst]);
      });
      $(this).find("th.sortable").each(function(index, element) {
        $(this).find("input.position").val(index + 1);
      });
    }
  });
})(jQuery);
<% end %>
