    <ul class="nav nav-tabs">
      <li class="<%= active_if_current('dashboard') %>">
        <a href="#dashboard" data-toggle="tab">dashboard</a>
      </li>
      <li class="<%= active_if_current('specimen') %>">
        <a href="#specimen" data-toggle="tab"><%= @alias_specimen + data_count(@table.specimens) %></a>
      </li>
      <li class="<%= active_if_current('analysis') %>">
        <a href="#analysis" data-toggle="tab"><%= "analysis" + data_count(@table.analyses) %></a>
      </li>
    </ul>
    <!-- Tab panes -->
    <% tab_info = [
      ["dashboard",nil],
      ["specimen",@table.specimens],
      ["analysis",@table.analyses]
    ] %>
    <div class="tab-content">
      <% tab_info.each do |key,array| %>
        <div class="tab-pane<%= active_if_current(key) %>" id="<%= key %>">
          <%= render partial: key.underscore %>
        </div>
      <% end %>
    </div>
