<%= form_for @table, remote: true, format: :json, html: { class: "update", role: "form" } do |f| %>
  <div class="form-group form-group-sm">
    <%= f.label :caption, class: "small" %>
    <%= f.text_field :caption, class: "form-control input-sm" %>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :bib_global_id, class: "small" %>
    <div class="input-group">
      <%= f.text_field :bib_global_id, class: "form-control input-sm" %>
      <span class="input-group-addon">
	<%= link_to bibs_path(per_page: 10, format: :modal), "data-toggle" => "modal", "data-target" => "#search-modal", "data-input" => "#table_bib_global_id" do %>
	  <span class="glyphicon glyphicon-search"></span>
	<% end %>
      </span>
    </div>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label "measurement-category", class: "small" %>
    <%= f.select :measurement_category_id, MeasurementCategory.pluck(:name, :id), { include_blank: true }, class: "form-control input-sm" %>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :with_average, class: "checkbox-inline" do %>
      <%= f.check_box :with_average %> show average
    <% end %>
  </div>
  <div class="form-group form-group-sm">
    <label class="small">Place</label>
    <%= f.label :with_place, class: "checkbox-inline" do %>
      <%= f.check_box :with_place %>
    <% end %>
  </div>
  <div class="form-group form-group-sm">
    <div class="form-inline">
      <label class="small">Age</label>
      <%= f.label :with_age, class: "checkbox-inline" do %>
        <%= f.check_box :with_age %>
      <% end %>
      with unit
      <%= f.select :age_unit, ["a","ka","Ma","Ga"].map{|n| [n,n]}, { include_blank: true }, class: "form-control input-sm" %>
      &nbsp;scale
      <%= f.text_field :age_scale, class: "form-control input-sm", size: 10  %>
    </div>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :description, class: "small" %>
    <%= f.text_area :description, class: "form-control input-sm", row: 3 %>
  </div>
  <%= f.button class: "btn btn-default" do %>
    <span class="glyphicon glyphicon-save"></span>
  <% end %>
<% end %>

<%= javascript_tag do %>
$(document).on("succeed.ajaxForm", "#edit_table_<%= @table.id %>", function() {
	location.href="<% table_path(@table) %>";
});
<% end %>
