<div class="row">
  <div id="show-caption" class="col-lg-12">
    <%= show_title(@table.bib.decorate) %>
  </div>
  <div id="show-caption" class="col-lg-12">
    <%= @table.name_with_id %>
    <%= @table.publish_badge %>
  </div>
</div>
<div class="row">
  <div id="show-tools" class="col-lg-4">
    <div class="row btn-toolbar tool-selector" role="toolbar">
      <% if can? :update, @table %>
	<div class="btn-group btn-group-sm">
	  <%= link_to edit_table_path(@table), class: "btn btn-default", remote: true do %>
	    <span class="glyphicon glyphicon-pencil"></span>
    <% end %>
    <%= link_to refresh_table_path(@table), class: "btn btn-default", id: "tree-conifer-button", method: :put, title: "refresh preview for '#{@table.name}'" do %>
      <span class="glyphicon glyphicon-refresh"></span>
    <% end %>
	  <%= link_to property_table_path(@table), class: "btn btn-default", remote: true do %>
	    <span class="glyphicon glyphicon-cog"></span>
	  <% end %>
	</div>
	<div class="btn-group btn-group-sm">
	  <%= link_to table_path(@table, format: :csv), class: "btn btn-default" do %>
	    <span class="glyphicon glyphicon-th-list"></span>
	  <% end %>
	</div>
      <% end %>
    </div>
    <img>
    <div class="row tool-content">
    </div>
  </div>
  <div id="show-body" class="col-lg-8">
    <!-- Nav tabs -->
    <% cache @table do %>
      <%= render(partial: "show_body") %>
    <% end %>
  </div>
</div>
