<div><%= link_to_unless_current Classification.model_name.human.downcase,classifications_path %>
<%= link_to_unless_current PhysicalForm.model_name.human.downcase,physical_forms_path %></div>
<%= paginate @classifications %>
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th></th>
      <th>name</th>
      <th></th>
      <th>sesar_material</th>
    </tr>
  </thead>
  <tbody>
    <% @classifications.each do |classification| %>
    <tr>
      <td>
        <%= link_to edit_classification_path(classification) do %>
        <span class="glyphicon glyphicon-edit"></span>
        <% end %>
      </td>
      <td><%= classification.full_name %></td>
      <td></td>
      <td><%= classification.sesar_material %></td>
      <td>
        <%= link_to classification_path(classification), method: :delete, data: {confirm: t("confirm.delete",:recordname => classification.full_name)} do %>
        <span class="glyphicon glyphicon-remove"></span>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <%= form_for Classification.new, remote: true, format: :json, html: { class: "create" } do |f| %>
    <tr>
      <td></td>
      <td><%= f.select :parent_id, Classification.pluck(:full_name,:id), { include_blank: true }, class: "form-control input-sm" %></td>
      <td><%= f.text_field :name, class: "form-control input-sm" %></td>
      <td><%= f.select :sesar_material, @material.map{|str| [str,str]}, { include_blank: true }, class: "form-control input-sm" %></td>
      <td>
        <%= f.button class: "btn btn-default" do %>
        <span class="glyphicon glyphicon-save"></span>
        <% end %>
      </td>
      <td></td>
      <td></td>
    </tr>
    <% end %>
  </tfoot>
</table>
<%= javascript_tag do %>
  $(document).on("succeed.ajaxForm", "#new_classification", function() {
    window.location.href = '/classifications'
  });
<% end %>
