<div><%= link_to_unless_current "element",measurement_items_path %>
<%= link_to_unless_current "rowname",measurement_categories_path %></div>
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th></th>
      <th>nickname</th>
      <th>html</th>
      <th>tex</th>
      <th>category</th>
      <th>size</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @measurement_items.each do |measurement_item| %>
    <tr>
      <td>
        <%= link_to edit_measurement_item_path(measurement_item) do %>
        <span class="far fa-edit"></span>
        <% end %>
      </td>
      <td><%= measurement_item.nickname %></td>
      <td><%== measurement_item.display_in_html %></td>
      <td><%= measurement_item.display_in_tex %></td>
      <td>
        <% measurement_item.measurement_categories.each do |measurement_category| %>
          <%= link_to measurement_category.name,edit_measurement_category_path(measurement_category) %>
        <% end -%>
      </td>
      <td><%= measurement_item.chemistries.size  %></td>
      <td>
        <%= link_to measurement_item_path(measurement_item), method: :delete, data: {confirm: t("confirm.delete",:recordname => measurement_item.nickname)} do %>
        <span class="fas fa-times"></span>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <%= form_with model:MeasurementItem.new, local: false, format: :json, html: { id: "new_measurement_item", class: "create" } do |f| %>
    <tr>
      <td></td>
      <td><%= f.text_field :nickname, class: "form-control input-sm" %></td>
      <td>
        <%= f.button class: "btn btn-default" do %>
        <span class="far fa-save"></span>
        <% end %>
      </td>
      <td></td>
      <td></td>
    </tr>
    <% end %>
  </tfoot>
</table>
<%= javascript_tag do %>
  $(document).on("succeed.ajaxForm", "#new_measurement_item", function() {
    window.location.href = '<%= measurement_items_path %>'
  });
<% end %>
