<%= form_for @unit, html: {class: "col-lg-3"} do |f| %>
  <%= error_notification(@unit.errors) %>

  <div class="form-group form-group-sm">
    <%= f.label :name, class: "small" %>
    <%= f.text_field :name, class: "form-control input-sm" %>
    <%= f.label :conversion, class: "small" %>
    <%= f.text_field :conversion, class: "form-control input-sm" %>
    <%= f.label :html, class: "small" %>
    <%= f.text_field :html, class: "form-control input-sm" %>
    <%= f.label :text, class: "small" %>
    <%= f.text_field :text, class: "form-control input-sm" %>
  </div>

  <%= f.submit "update", class: "btn btn-sm" %>
  <%= link_to "cancel", units_path, class: "btn btn-sm" %>
<% end %>