<%= paginate @units %>
<table class="table table-condensed table-striped">
  <thead>
    <%= search_form_for @search do |f| %>
    <tr>
      <th>
        <%= f.button class: "btn btn-default" do %>
        <span class="glyphicon glyphicon-refresh"></span>
        <% end %>
      </th>
      <th><%= sort_link @search, :name, "name" %></th>
      <th><%= sort_link @search, :conversion, "conversion" %></th>
      <th><%= sort_link @search, :html, "html" %></th>
      <th><%= sort_link @search, :text, "text" %></th>
      <th></th>
      <th><%= sort_link @search, :updated_at, "updated-at" %></th>
      <th><%= sort_link @search, :created_at, "created-at" %></th>
    </tr>
    <tr>
      <th></th>
      <th><%= f.text_field :name_cont, class: "form-control input-sm" %></th>
      <th><%= f.text_field :conversion_eq, class: "form-control input-sm" %></th>
      <th><%= f.text_field :html_cont, class: "form-control input-sm" %></th>
      <th><%= f.text_field :text_cont, class: "form-control input-sm" %></th>
      <th></th>
      <th>
        <%= f.text_field :updated_at_gteq, placeholder: "from:", value: format_date(params[:q] && params[:q][:updated_at_gteq]), class: "form-control input-sm datepicker", size: 15 %>
      </th>
      <th>
        <%= f.text_field :created_at_gteq, placeholder: "from:", value: format_date(params[:q] && params[:q][:created_at_gteq]), class: "form-control input-sm datepicker", size: 15 %>
      </th>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th>
        <%= f.text_field :updated_at_lteq_end_of_day, placeholder: "to:", value: format_date(params[:q] && params[:q][:updated_at_lteq_end_of_day]), class: "form-control input-sm datepicker", size: 15 %>
      </th>
      <th>
        <%= f.text_field :created_at_lteq_end_of_day, placeholder: "to:", value: format_date(params[:q] && params[:q][:created_at_lteq_end_of_day]), class: "form-control input-sm datepicker", size: 15 %>
      </th>
    </tr>
    <% end %>
  </thead>
  <tbody>
    <% @units.each do |unit| %>
    <tr>
      <td>
        <%= link_to edit_unit_path(unit) do %>
        <span class="glyphicon glyphicon-edit"></span>
        <% end %>
      </td>
      <td><%= unit.name %></td>
      <td><%= number_with_delimiter unit.conversion %></td>
      <td><%== unit.html %></td>
      <td><%= unit.text %></td>
      <td></td>
      <td><%= difference_from_now(unit.updated_at) %></td>
      <td><%= difference_from_now(unit.created_at) %></td>
      <td>
        <%= link_to unit_path(unit), method: :delete , data: {confirm: t("confirm.delete",:recordname => unit.name)} do %>
        <span class="glyphicon glyphicon-remove"></span>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <%= form_for Unit.new, remote: true, format: :json, html: { class: "create" } do |f| %>
    <tr>
      <td></td>
      <td><%= f.text_field :name, class: "form-control input-sm" %></td>
      <td><%= f.text_field :conversion, class: "form-control input-sm" %></td>
      <td><%= f.text_field :html, class: "form-control input-sm" %></td>
      <td><%= f.text_field :text, class: "form-control input-sm" %></td>
      <td>
        <%= f.button class: "btn btn-default", id: "save-button" do %>
        <span class="glyphicon glyphicon-save"></span>
        <% end %>
      </td>
      <td></td>
      <td></td>
    </tr>
    <% end %>
  </tfoot>
</table>
