<%#= render partial: "layer" %>
<ul>
  <li>center (&mu;m): <%= @surface.decorate.center_str %></li>
  <li>edge-length (&mu;m): <%= @surface.decorate.length_str %></li>
  <% unless @surface.images_with_object.blank? %>
    <% @surface.images_with_object.each do |image| %>
      <li><%= image.decorate.picture_link %></li>
    <% end %>
  <% end %>
  <% unless @surface.specimens.blank? %>
    <% @surface.specimens.each do |specimen| %>
    <li>
        <%= specimen.decorate.icon_name_info_link %>
        <% if can? :update, @surface %>
        <%= link_to surface_specimen_path(@surface, specimen) + tab_param(__FILE__), method: :delete, title: "unlink `#{specimen.name}'", data: {confirm: t("confirm.unlink")} do %>
          <span class="fas fa-times"></span>
        <% end %>
        <% end %>
    </li>
    <% end %>
  <% end %>
</ul>
