<% not_belongs_to_layer = @surface.not_belongs_to_layer_surface_images %>
<div class="panel panel-default">
  <div class="panel-heading">
    <span class="panel-title pull-lfet">
     <a href="#surface-layer-top", data-toggle="collapse", aria-expanded="false", aria-control="surface-layer-top", title = "show and hide images belong to top">
      <span class="badge"><%= not_belongs_to_layer.size %></span> Top
    </a>
    </span>
  </div>
  <div class="panel-body collapse in" id="surface-layer-top">
    <ul class="list-inline thumbnails surface-layer">
      <% not_belongs_to_layer.each do |surface_image| %>
        <% next unless surface_image.image %>
        <%= surface_image.decorate.li_thumbnail %>
      <% end %>
    </ul>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="form-inline col-sm-6">
      <%= form_for AttachmentFile.new, url: surface_images_path(@surface), multipart: true, class: "form-inline", builder: ApplicationFormBuilder do |f|%>
        <%#= hidden_tabname_tag(__FILE__) %>
        <%= f.fields_for :record_property_attributes do |r| %>
          <%= r.hidden_field :user_id ,value: @current_user.id %>
        <% end %>
        <%#= check_box_tag nil, nil, false, class: "select-row-all" %>
          <div class="input-group">
            <%= f.file_browse_field :data %>
            <%= f.text_field :affine_matrix_in_string, class: "form-control", value:"", placeholder:"[1,0,0;0,1,0;0,0,1]" %>
            <div class="input-group-btn">
              <%= f.button title:"add image to #{@surface.name} with affine matrix", class: "btn btn-default" do %>
                <span class="glyphicon glyphicon-save"></span>
              <% end %>
            </div>
          </div>
      <% end %>
    </div>
    <div class="col-sm-6">
      <%= form_tag link_by_global_id_surface_images_path(@surface), method: :post do %>
        <%= hidden_tabname_tag(__FILE__) %>
	  <div class="input-group">
	    <span class="input-group-addon">
	      <%= link_to attachment_files_path(per_page: 5, format: :modal), "data-toggle" => "modal", "data-target" => "#search-modal", "data-input" => "#attachment-file-global-id", title: "search files and input global-ID" do %>
	        <span class="glyphicon glyphicon-search"></span>
	      <% end %>
	    </span>
	    <%= text_field_tag :global_id, nil, id: "attachment-file-global-id", class: "form-control", placeholder:"global-ID" %>
            <div class="input-group-btn">
              <%= button_tag title: "link image to #{@surface.name} by global id", class: "btn btn-default" do %>
                <span class="glyphicon glyphicon-save"></span>
              <% end %>
            </div>
	  </div>
      <% end %>
    </div>
    </div>
  </div>
</div>
<div class="panel panel-default">
  
  <div class="panel-heading">
    <%= form_for SurfaceLayer.new, url: surface_layers_path(@surface), class:"inline" do |f|%>
      <%= hidden_tabname_tag(__FILE__) %>
      <%= f.text_field :name %>
      <%= f.hidden_field :priority, value: @surface.surface_layers.max_priority + 1 %>
      <%= f.text_field :opacity %>
      <%= f.button title:"add layer", class: "btn btn-default btn-sm pull-right" do %>
        <span class="glyphicon glyphicon-plus"></span>
      <% end %>
    <% end %>
  </div>

</div>

<% @surface.surface_layers.each do |surface_layer| %>
  <%= surface_layer.decorate.panel %>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <span class="panel-title pull-lfet">
     <a href="#surface-layer-base", data-toggle="collapse", aria-expanded="false", aria-control="surface-layer-top", title = "show and hide images belong to base">
      <span class="badge">1</span>
      Base
     </a>
    </span>
    <span class="label label-primary">opacity: 100%</span>
    <div class="clearfix"></div>
  </div>
  <div class="panel-body collapse in" id="surface-layer-base">
    <ul class="list-inline thumbnails surface-layer">
      <% @surface.wall_surface_images.each do |surface_image| %>
        <% next unless surface_image.image %>
        <%= surface_image.decorate.li_thumbnail %>
      <% end %>
    </ul>
  </div>
</div>

<%= javascript_tag do %>
  (function($) {
    $("ul.surface-layer").sortable({
      connectWith: ".surface-layer",
      stop: function(event, ui){
        surface_id = $(ui.item).attr('data-surface-id');
        image_id = $(ui.item).attr('data-image-id');
        position = $(ui.item).attr('data-position');
        image_ids = $.map(event.target.children, function(e,i){ return e.getAttribute("data-image-id")});
        positions = $.map(event.target.children, function(e,i){ return e.getAttribute("data-position")});
        
        cindex = image_ids.indexOf(image_id);
   
        if (cindex !== -1 && image_ids.length > 1){
          insert_position = null;
          if (cindex == 0 && Number(positions[1]) > Number(position) ){
            insert_position = Number(positions[1]) + 1;
          } else {
            if ( Number(position) < Number(positions[cindex + 1]) || Number(position) > Number(positions[cindex - 1])){
              insert_position = positions[cindex - 1]
            }
          }
          if (insert_position == null){
            //console.log("no need to insert");
          } else {
            //console.log("need to insert");
            $.ajax({
              url: surface_id + '/images/' + image_id + '/insert_at.json',
              type: 'POST',
              dataType: 'text',
              data: { "position": insert_position },
              success: function(){},
              error: function(){}
            });
          }
        }
      },
      receive: function(event, ui) {
        ui.item.find("input.layer-id").val($(event.target).data("id"));
        layer_id = $(event.target).data("id");
        surface_id = $(ui.item).attr('data-surface-id');
        surface_image_id = $(ui.item).attr('data-surface-image-id');
        image_id = $(ui.item).attr('data-image-id');
        $.ajax({
          url: surface_id + '/images/' + image_id + '/layer.json',
          type: 'POST',
          dataType: 'text',
          data: { "layer_id": $(event.target).data("id") },
          success: function(){}
        });
      }
    }).disableSelection();
  })(jQuery);
<% end %>
