<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>name</th>
      <th>coordinate</th>
      <th>image</th>
      <th>link</th>
    </tr>
  </thead>
  <tbody>
    <% @surface.spots.each do |spot| %>
      <% spot = spot.decorate %>
      <tr>
        <td><%= spot.icon %> <%= link_to(spot.name, spot_path(spot)) %></td>
        <td><%= sprintf("(%.2f, %.2f)", spot.world_x, spot.world_y) %></td>
        <td>
          <% if spot.attachment_file %>
            <%= link_to(spot.attachment_file.name, attachment_file_path(spot.attachment_file)) %>
	  <% end %>
        </td>
        <td>
          <%= spot.target_link %>
        </td>
      </Tr>
    <% end %>
  </tbody>
</table>
