<tr class="show-map" data-url="<%= map_surface_path(surface) %>">
  <td><%= check_box_tag("ids[]", surface.id, checked, id: "ids_#{surface.id}", class: "select-row") if can?(:update, surface) %>
    <% if surface.globe? %>
      <img src="http://a.tile.openstreetmap.org/0/0/0.png" width="50" height="50">
    <% else %>
      <% unless surface.base_image_url.blank? %>
        <%= image_tag(surface.base_image_url, width:50, height:50, style: 'background-color:black') %>
      <% end %>
    <% end %>
  </td>
  <td>
  </td>
  <td><%#= link_to list_title(surface), surface %>
    <%= link_to(list_title(surface), surface, class: "btn radio-button-group", :title => "view map") %>
    <% if can? :update, surface %>
      <%= link_to(edit_surface_path(surface), title: "edit name, layers, and images", :target => ["_blank"]) do %>
        <span class="far fa-edit"></span>
      <% end %>
    <% end %>
    <%#= link_to('map', surface.rmap_url, class: "btn radio-button-group", :title => "edit map", :target => ["_blank"]) %>
  </td>
  <%= td_if_expand surface.user.try!(:username) %>
  <%= td_if_expand surface.group.try!(:name) %>
  <%= td_if_expand difference_from_now(surface.published_at) %>
  <%= td_if_expand difference_from_now(surface.updated_at) %>
  <%= td_if_expand difference_from_now(surface.created_at) %>
  <td></td>
</tr>
