<tr class="show-map" data-url="<%= map_surface_path(surface) %>">
  <td><%= check_box_tag("ids[]", surface.id, checked, id: "ids_#{surface.id}", class: "select-row") if can?(:update, surface) %></td>
  <td>
    <% if surface.globe? %>
      <%= link_to surface do %>
	<img src="http://a.tile.openstreetmap.org/0/0/0.png" width="70" height="70">
      <% end  %>
    <% else %>
      <%= link_to surface.first_image.decorate.picture(width: 70, height: 70, type: :thumb), surface.first_image if surface.first_image %>
      <% end %>
  </td>
  <td><%= link_to list_title(surface), surface %></td>
  <td><%= surface.images_count %></td>
  <td><%= surface.spots_count %></td>
  <%= td_if_expand surface.user.try!(:username) %>
  <td><%= surface.group.try!(:name) %></td>
  <%= td_if_expand difference_from_now(surface.published_at) %>
  <td><%= difference_from_now(surface.updated_at) unless surface.globe? %></td>
  <%= td_if_expand difference_from_now(surface.created_at) unless surface.globe? %>
</tr>
