<%= form_for @surface, remote: true, format: :json, html: { class: "update", role: "form" } do |f| %>
  <div class="form-group form-group-sm">
    <%= f.label :name, class: "small" %>
    <%= f.text_field :name, class: "form-control input-sm" %>
  </div>
  <%= f.button class: "btn btn-default" do %>
  <span class="glyphicon glyphicon-save"></span>
  <% end %>
<% end %>

<%= javascript_tag do %>
  $(document).on("succeed.ajaxForm", "#edit_surface_<%= @surface.id %>", function() {
    location.href="<% surface_path(@surface) %>";
  });
<% end %>
