<div class="row">
  <div id="map" class="col-lg-9">
    <div class="row tool-content">
    </div>
  </div>
  <div id="index-list" class="col-lg-3">
    <nav class="navbar navbar-default" role="navigation">
      <div class="collapse navbar-collapse" id="menubar">
        <%= render partial: "layouts/navbar_common_part" %>
      </div>
    </nav>
    <%= link_to('/', surfaces_path) %>
    <%= show_title(@surface) %>
    <div class="btn-toolbar tool-selector" role="toolbar">
      <div class="btn-group btn-group-sm">
      </div>
      <div class="btn-group btn-group-sm">
        <%= link_to map_surface_path(@surface), class: "btn btn-default activate", id: "tree-conifer-button", remote: true, title: "top" do %>
          <span class="glyphicon glyphicon-globe"></span>
        <% end %>
        <%= link_to tiles_surface_path(@surface), class: "btn btn-default", id: "tree-conifer-button", method: :post, title: "reload all images" do %>
          <span class="glyphicon glyphicon-refresh"></span>
        <% end %>
      </div>    
      <% if can? :update, @surface %>
        <div class="btn-group btn-group-sm">
	        <%= link_to edit_surface_path(@surface, :format => :modal), class: "btn btn-default", title: "edit name, layers, and images", "data-toggle" => "modal", "data-target" => "#show-modal"  do %>
	          <span class="glyphicon glyphicon-pencil"></span>
	        <% end %>
	        <%= link_to property_surface_path(@surface, :format => :modal), class: "btn btn-default", title: "edit global ID", "data-toggle" => "modal", "data-target" => "#show-modal" do %>
	          <span class="glyphicon glyphicon-cog"></span>
	        <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

