<ul>
  <li>country: <%= @place.country_name %></li>
  <li>name: <%= @place.name %></li>
  <li>latitude: <%= raw @place.latitude_to_html %></li>
  <li>longitude: <%= raw @place.longitude_to_html %></li>
  <li>description: <%= @place.try!(:description) %></li>
  <li><%= @alias_specimen %>: <% @place.specimens.each do |specimen| %>
    <%= link_to_if can?(:read, specimen), specimen.decorate.status_icon + specimen.name, specimen_path(specimen), class: specimen_ghost(specimen) %>
  <% end %></li>
  <li>modified at <%= difference_from_now(@place.updated_at) -%></li>
  <% if @place.attachment_pdf_files.present? %>
    <li>
      <% @place.attachment_pdf_files.each do |attachment_pdf_file| %>
        <%= attachment_pdf_file.name %>
        <%= link_to(image_tag("icon_pdf_1.png", size: "24x24"), download_attachment_file_path(attachment_pdf_file.id), id: "file-#{attachment_pdf_file.id}-button") %>
      <% end %>
    </li>
  <% end %>
</ul>
  <% @place.attachment_image_files.each_slice(4) do |files| %>
  <div class="row spot-thumbnails">
    <% files.each do |file| %>
    <div class="col-lg-3">
      <%= link_to attachment_file_path(file), class: "thumbnail" do %>
        <%= image_tag file.path %>
        <%= file.spots.size %> spots
      <% end %>
    </div>
    <% end %>
  </div>
  <% end %>
<%= mantra "Show representative information of the localty." %> 
