<tr>
  <td><%= check_box_tag("ids[]", place.id, checked, id: "ids_#{place.id}", class: "select-row") if can?(:update, place) %></td>
  <td><%= link_to list_title(place), place %></td>
  <td><%= place.latitude_to_text %></td>
  <td><%= place.longitude_to_text %></td>
  <td><%= place.elevation_to_text %></td>
  <td><%= place.specimens_count %></td>
  <%= td_if_expand place.user.try!(:username) %>
  <td><%= place.group.try!(:name) %></td>
  <%= td_if_expand difference_from_now(place.published_at) %>
  <td><%= difference_from_now(place.updated_at) %></td>
  <%= td_if_expand difference_from_now(place.created_at) %>
</tr>

