<% if @places.present? %>
  <% place_ids = @places.pluck(:id) %>
  <div class="text-right">
    <%= link_to download_bundle_label_places_path(ids: place_ids) do %>
      <i class="fas fa-tag"></i>
    <% end %>
    ,<%= link_to(image_pack_tag("icon_pdf_1.png", size: "24x24"), download_bundle_card_places_path(ids: place_ids)) %>,
    and <%= link_to("A4", download_bundle_card_places_path(ids: place_ids, a4: true)) %>
  </div>
<% end %>

<%= form_with model:Place.new, url: bundle_update_places_path do |f| %>
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th></th>
      <th>name</th>
      <th>latitude</th>
      <th>longitude</th>
      <th>elevation</th>
      <th><%= @alias_specimen %></th>
      <%= th_if_expand "owner" %>
      <th>group</th>
      <%= th_if_expand "published" %>
      <th>updated-at</th>
      <%= th_if_expand "created-at" %>
      <th><%= toggle_column_link method: "post" %></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: :place, collection: PlaceDecorator.decorate_collection(@places), locals: { checked: true } %>
  </tbody>
  <tfoot>
    <tr>
      <th><%= check_box_tag nil, nil, true, class: "select-row-all" %></th>
      <th></th>
      <th><%= f.text_field :latitude,class: "form-control input-sm", class: "form-control input-sm" %></th>
      <th><%= f.text_field :longitude,class: "form-control input-sm", class: "form-control input-sm" %></th>
      <th><%= f.text_field :elevation,class: "form-control input-sm", class: "form-control input-sm" %></th>
      <th></th>
      <%= th_if_expand do %>
        <%= f.select :user_id ,User.pluck(:username, :id), { include_blank: true }, class: "form-control input-sm" %>
      <% end %>

      <th><%= f.select :group_id ,Group.pluck(:name, :id), { include_blank: true }, class: "form-control input-sm" %></th>
      <%= th_if_expand do %>
        <%= f.select :published ,[true, false], { include_blank: true }, class: "form-control input-sm" %>
      <% end %>
      <th>
	<%= f.button class: "btn btn-default" do %>
	<span class="far fa-save"></span>
	<% end %>
      </th>
      <th></th>
    </tr>
  </tfoot>
</table>
<% end %>
<%= mantra "Fill fields with changes and press save button." %> 
