<%= form_with model:@place, local: false, format: :json, html: { id: "edit_place_#{@place.id}", class: "update", role: "form" } do |f| %>
  <div class="form-group form-group-sm">
    <%= f.label :name, class: "small" %>
    <%= f.text_field :name, class: "form-control input-sm" %>
  </div>

      <%= f.label :latitude, class: "small" %>
      <%= f.label :latitude, class: "radiobox-inline" do %>
        <%= f.radio_button :latitude_dms_direction, 'N' %> N
      <% end %>
      <%= f.label :latitude, class: "radiobox-inline" do %>
        <%= f.radio_button :latitude_dms_direction, 'S' %> S
      <% end %>
      <div class="row">
        <div class="col-xs-4">
          <label class="small">Degree</label>
          <%= f.text_field :latitude_dms_deg, class: "form-control input-sm" %>
        </div>
        <div class="col-xs-4">
          <label class="small">Minute</label>
          <%= f.text_field :latitude_dms_min, class: "form-control input-sm" %>
        </div>
        <div class="col-xs-4">
          <label class="small">Second</label>
          <%= f.text_field :latitude_dms_sec, class: "form-control input-sm" %>
        </div>
       </div>
     </div>
     <div class="form-group form-group-sm">
      <%= f.label :longitude, class: "small" %>
      <%= f.label :longitude, class: "radiobox-inline" do %>
        <%= f.radio_button :longitude_dms_direction, 'E' %> E
      <% end %>
      <%= f.label :longitude, class: "radiobox-inline" do %>
        <%= f.radio_button :longitude_dms_direction, 'W' %> W
      <% end %>
      <div class="row">
        <div class="col-xs-4">
          <label class="small">Degree</label>
          <%= f.text_field :longitude_dms_deg, class: "form-control input-sm" %>
        </div>

        <div class="col-xs-4">
          <label class="small">Minute</label>
          <%= f.text_field :longitude_dms_min, class: "form-control input-sm" %>
        </div>

        <div class="col-xs-4">
          <label class="small">Second</label>
          <%= f.text_field :longitude_dms_sec, class: "form-control input-sm" %>
        </div>
      </div>
     </div>

  <div class="form-group form-group-sm">
    <%= f.label "Elevation (m)", class: "small" %>
    <%= f.text_field :elevation, class: "form-control input-sm" %>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :description, class: "small" %>
    <%= f.text_area :description, class: "form-control input-sm", row: 3 %>
  </div>
  <%= f.button class: "btn btn-default" do %>
  <span class="glyphicon glyphicon-save"></span>
  <% end %>
<% end %>

<%= javascript_tag do %>
  $(document).on("succeed.ajaxForm", "#edit_place_<%= @place.id %>", function() {
    location.href="<% place_path(@place) %>";
  });
<% end %>
