<%= paginate @places %>
<table>
  <thead>
    <%= search_form_for @search do |f| %>
    <tr>
      <th>
        <%= f.button class: "btn btn-default" do %>
        <span class="glyphicon glyphicon-refresh"></span>
        <% end %>
      </th>
      <th><%= sort_link @search, :name, "name" %></th>
      <th><%= sort_link @search, :latitude, "latitude" %></th>
      <th><%= sort_link @search, :longitude, "longitude" %></th>
      <th><%= sort_link @search, :elevation, "elevation" %></th>
      <th>stone</th><!-- don't sort -->
      <th><%= sort_link @search, :user_username, "owner" %></th>
      <th><%= sort_link @search, :group_name, "group" %></th>
      <th><%= sort_link @search, :record_property_published_at, "published" %></th>
      <th><%= sort_link @search, :updated_at, "updated_at" %></th>
      <th><%= sort_link @search, :created_at, "created_at" %></th>
    </tr>
    <tr>
      <th><%= text_field_tag :per_page, (params[:per_page] || Place.default_per_page), size: 4 %></th>
      <th><%= f.text_field :name_cont %></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th><%= f.text_field :user_username_cont %></th>
      <th><%= f.text_field :group_name_cont %></th>
      <th><%= f.select :record_property_published_eq, [true, false], include_blank: true %></th>
      <th>
        <%= f.text_field :updated_at_gteq, class: 'datepicker', placeholder: "from:", value: format_date(params[:q] && params[:q][:updated_at_gteq]) %>
      </th>
      <th>
        <%= f.text_field :created_at_gteq, class: 'datepicker', placeholder: "from:", value: format_date(params[:q] && params[:q][:created_at_gteq]) %>
      </th>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th>
        <%= f.text_field :updated_at_lteq_end_of_day, class: 'datepicker', placeholder: "to:", value: format_date(params[:q] && params[:q][:updated_at_lteq_end_of_day]) %>
      </th>
      <th>
        <%= f.text_field :created_at_lteq_end_of_day, class: 'datepicker', placeholder: "to:", value: format_date(params[:q] && params[:q][:created_at_lteq_end_of_day]) %>
      </th>
    </tr>
    <% end %>
  </thead>
  <tbody>
    <% @places.each do |place| %>
    <tr>
      <td></td>
      <td><%= link_to place.name, place %></td>
      <td><%= format_latitude(place.latitude) %></td>
      <td><%= format_longitude(place.longitude) %></td>
      <td><%= format_elevation(place.elevation) %></td>
      <td><%= format_stones_summary(place.stones)%></td>
      <td><%= place.user.try!(:username) %></td>
      <td><%= place.group.try!(:name) %></td>
      <td><%= difference_from_now(place.published_at) %></td>
      <td><%= difference_from_now(place.updated_at) %></td>
      <td><%= difference_from_now(place.created_at) %></td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <%= render partial: "new", locals: { place: Place.new } %>
  </tfoot>
</table>

