<div class="row">
  <div id="show-caption" class="col-lg-12">
    <%= @place.name_with_id %>
  </div>
</div>
<div class="row">
  <div id="show-tools" class="col-lg-4">
    <div class="row btn-toolbar tool-selector" role="toolbar">
      <div class="btn-group btn-group-sm">
	<%= link_to map_place_path(@place), class: "btn btn-default activate", remote: true do %>
	  <span class="glyphicon glyphicon-globe"></span>
	<% end %>
      </div>
      <% if can? :update, @place %>
      <div class="btn-group btn-group-sm">
	<%= link_to edit_place_path(@place), class: "btn btn-default", remote: true do %>
	  <span class="glyphicon glyphicon-pencil"></span>
	<% end %>
	<%= link_to property_place_path(@place), class: "btn btn-default", remote: true do %>
	  <span class="glyphicon glyphicon-cog"></span>
	<% end %>
      </div>
      <% end %>
    </div>
    <img>
    <div class="row tool-content">
    </div>
  </div>
  <div id="show-body" class="col-lg-8">
    <% tab_info = [
        ["at-a-glance",nil],
        ["stone",@place.stones],
        ["neighbor",nil],
        ["file",@place.attachment_files],
        ["geoname",nil]] %>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <% tab_info.each do |key,array| %>
       <li class="<%= active_if_current(key) %>" ><a href="#<%= key %>" data-toggle="tab"><%= key + data_count(array) %></a></li>
      <% end %>

    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <% tab_info.each do |key,array| %>
        <div class="tab-pane<%= active_if_current(key) %>" id="<%= key %>"><%= render partial: key.underscore %></div>
      <% end %>
    </div>
  </div>
</div>
