<title><%= Settings.site_name %></title>
<%= stylesheet_link_tag "application", media: "all" %>
<%= javascript_include_tag "application" %>
<%= render partial: "layouts/leaflet_head" %>
<%= csrf_meta_tags %>
