<nav class="navbar navbar-default" role="navigation">
  <div class="collapse navbar-collapse" id="menubar">
    <ul class="nav navbar-nav">
      <li><%= link_to "all", root_path %></li>
      <li><%= link_to @alias_specimen, specimens_path %></li>
      <li><%= link_to "box", boxes_path %></li>
      <li><%= link_to "place", places_path %></li>
      <li><%= link_to "analysis", analyses_path %></li>
      <li><%= link_to "bib", bibs_path %></li>
      <li><%= link_to "file", attachment_files_path %></li>
      <li><%= link_to "search column", search_columns_path %></li>
    </ul>
    <%= render partial: "layouts/navbar_common_part" %>
  </div>
</nav>
