<nav class="navbar navbar-inverse" role="navigation">
  <div class="collapse navbar-collapse" id="menubar">
    <ul class="nav navbar-nav">
      <li><%= link_to "site", system_preference_path %></li>
      <li><%= link_to "user", users_path %></li>
      <li><%= link_to "group", groups_path %></li>
      <li><%= link_to @alias_specimen, classifications_path %></li>
      <li><%= link_to "box", box_types_path %></li>
      <li><%= link_to "analysis", measurement_items_path %></li>
      <li><%= link_to "unit", units_path %></li>
      <li><%= link_to "technique", techniques_path %></li>
      <li><%= link_to "device", devices_path %></li>
      <li><%= link_to "author", authors_path %></li>
      <li><%= link_to "custom", custom_attributes_path %></li>
      <li><%= link_to "view", master_index_search_columns_path %></li>
    </ul>
    <%= render partial: "layouts/navbar_common_part" %>
  </div>
</nav>
