<!DOCTYPE html>
<html>
<head>
  <title>Medusa</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: navbar_path(controller.controller_name) if user_signed_in? %>
<div class="container">
  <%= yield %>
</div>

</body>
</html>
