<div class="row">
  <div class="col-lg-4">
    <%= form_for(@user,url: account_path) do |f| %>
    <%= error_notification(@user.errors) %>

    <div>
      <%= f.label :box_id %><br>
      <%= f.select :box_id, Box.pluck(:name, :id), { include_blank: true }, class: "form-control input-sm" %>
    </div>

    <div>
      <%= f.label :username %><br>
      <%= f.text_field :username, size: 20, autocomplete: "off", class: "form-control input-sm" %>
    </div>

    <div>
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, size: 30, autocomplete: "off", class: "form-control input-sm" %>
    </div>

    <div>
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, size: 30, autocomplete: "off", class: "form-control input-sm" %>
    </div>

    <div>
      <%= f.label :family_name %><br />
      <%= f.text_field :family_name, class: "form-control input-sm" %>
    </div>

    <div>
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name, class: "form-control input-sm" %>
    </div>

    <div>
      <%= f.label :email %><br />
      <%= f.text_field :email, class: "form-control input-sm" %>
    </div>

    <div>
      <%= f.label :description %><br />
      <%= f.text_area :description, class: "form-control input-sm" %>
    </div>

    <%= f.submit  "Update",class: "btn btn-sm" %>

    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <%= form_tag(find_by_global_id_account_path,method: :get) do %>
    <span class="pull-left">Table of records that you can access: Fill ID</span>
    <div class="col-lg-4">
      <div class="input-group">
	<%= text_field_tag "global_id", '', id: "record-global-id", class: "form-control input-sm" %>
	<span class="input-group-addon">
	  <%= link_to records_path(per_page: 10, format: :modal), "data-toggle" => "modal", "data-target" => "#search-modal", "data-input" => "#record-global-id" do %>
	  <span class="glyphicon glyphicon-search"></span>
	  <% end %>
	</span>
      </div>
    </div>
    to <%=submit_tag 'go', class: "btn btn-default" %>
    <% end %>
  </div>
  <div class="col-lg-12">
    <% class_names = ["Stone","Box","Place","Analysis","Bib","AttachmentFile"] %>
    
    <table class="table">
      <tr>
	<th></th>
	<% class_names.each do |class_name| %>
        <th>
          <%= link_to class_name.underscore,send("#{class_name.tableize}_path") %>
        </th>
	<% end %>
      </tr>
      <!-- searchable -->
      <tr>
	<td>searchable</td>
	<% class_names.each do |class_name| %>
        <td>
          <% count = Module.const_get(class_name).readables(@user).count%>
          <%= count > 0 ? link_to(count.to_s,send("#{class_name.tableize}_path")) : "0" %>
        </td>
	<% end %>
      </tr>
      <!-- yours (ungroup) -->
      <tr>
	<td>yours (ungroup)</td>
	<% class_names.each do |class_name| %>
        <td>
          <% count = Module.const_get(class_name).readables(@user).where(:record_properties => {:user_id => @user.id}).count%>
          <%= count > 0 ? link_to(count.to_s,send(("#{class_name.tableize}_path").to_sym,{"q[user_username_cont]" => @user.username})) : "0" %>
          &nbsp;(
          <% count = Module.const_get(class_name).readables(@user).where(:record_properties => {:user_id => @user.id,:group_id => nil}).count%>
          <%= count > 0 ? link_to(count.to_s,send(("#{class_name.tableize}_path").to_sym,{"q[user_username_cont]" => @user.username,"q[group_name_null]" => true})) : "0" %>
          )
        </td>
	<% end %>
      </tr>
      <!-- groups -->
      <% unless @user.groups.empty? %>
      <tr><td colspan=<%= class_names.size + 1%>>group of</td></tr>
      <% @user.groups.each do |group| %>
      <tr>
        <td>&nbsp;-&nbsp;<%= group.name %></td>
        <% class_names.each do |class_name| %>
        <td>
          <% count = Module.const_get(class_name).readables(@user).where(:record_properties => {:group_id => group.id}).count%>
          <%= count > 0 ? link_to(count.to_s,send(("#{class_name.tableize}_path").to_sym,{"q[group_name_cont]" => group.name})) : "0" %>
        </td>
        <% end %>
      </tr>
      <% end %>
      <% end %>
      <!-- ungroup -->
      <tr>
	<td>ungroup</td>
	<% class_names.each do |class_name| %>
        <td>
          <% count = Module.const_get(class_name).readables(@user).where(:record_properties => {:group_id => nil}).count%>
          <%= count > 0 ? link_to(count.to_s,send(("#{class_name.tableize}_path").to_sym,{"q[group_name_null]" => true})) : "0" %>
        </td>
	<% end %>
      </tr>
      <tr><td colspan=<%= class_names.size + 1%>></td></tr>
    </table>
  </div>
</div>
