<div>
<%= form_for(@user,url: account_path) do |f| %>
  <%= error_notification(@user.errors) %>

  <div>
    <%= f.label :box_id %><br>
    <%= f.select :box_id, Box.pluck(:name, :id), include_blank: true %>
  </div>

  <div>
    <%= f.label :username %><br>
    <%= f.text_field :username, {size: 20,autocomplete: "off"} %>
  </div>

  <div>
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password,{size: 30,autocomplete: "off"} %>
  </div>

  <div>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation,{size: 30,autocomplete: "off"} %>
  </div>

  <div>
    <%= f.label :family_name %><br />
    <%= f.text_field :family_name ,size: 20%>
  </div>

  <div>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name ,size: 20 %>
  </div>

  <div>
    <%= f.label :email %><br />
    <%= f.text_field :email, size: 30 %>
  </div>

  <div>
    <%= f.label :description %><br />
    <%= f.text_area :description , size: "18x3" %>
  </div>

  <%= f.submit  "Update",class: "btn btn-sm" %>

<% end %>
</div>
<div>
  <div>
  <%= form_tag(quick_search_account_path,method: :get) do %>
Table of records that you can access: Fill ID <%= text_field_tag("global_id", '',:size => "10") %> to <%=submit_tag 'go' %>.
  <% end %>
  </div>
  <div>
   <% object_names =  
   {"stone"          => "stones",
    "box"             => "boxes",
    "place"           => "places",
    "analysis"        => "analyses",
    "bib"             => "bibs",
    "attachment_file" => "attachment_files"} %>
  <table class="table">
    <tr>
      <th></th>
      <% object_names.each do |object_name,table_name| %>
        <th><%= link_to object_name.downcase,table_name + "#{table_name}_path" %></th>
      <% end %>
    </tr>
    <!-- searchable -->
    <tr>
      <td>searchable</td>
      <% object_names.each do |object_name,table_name| %>
        <td>0</td>
      <% end %>
    </tr>
    <!-- yours (ungroup) -->
    <tr>
      <td>yours (ungroup)</td>
      <% object_names.each do |object_name,table_name| %>
        <td>0&nbsp;(0)</td>
      <% end %>
    </tr>
    <!-- groups -->
    <% unless @user.groups.empty? %>
      <tr><td colspan=<%= object_names.size + 1%>>group of</td></tr>
      <% @user.groups.each do |group| %>
        <tr>
        <td>&nbsp;-&nbsp;<%= group.name %></td>
        <% object_names.each do |object_name,table_name| %>
          <td>0</td>
        <% end %>
        </tr>
      <% end %>
    <% end %>
    <!-- ungroup -->
    <tr>
      <td>ungroup</td>
      <% object_names.each do |object_name,table_name| %>
        <td>0</td>
      <% end %>
    </tr>
    <tr><td colspan=<%= object_names.size + 1%>></td></tr>
  </table>
</div>
</div>
